{% from "blocks/featured-article.njk" import featuredArticle %}

<section class="articles-gallery">
  <h2 class="visually-hidden">Избранные статьи</h2>

  <ul class="featured-artices-list base-list">
    {% for article in featuredArticles %}
      {% set isOdd = loop.index % 2 !== 0 %}
      <li class="featured-artices-list__item">
        {{ featuredArticle(article=article, isImageVisible=isOdd) }}
      </li>
    {% endfor %}
  </ul>

  <button class="articles-gallery__more-button button" type="button">
    Показать ещё
  </button>
</section>
