<aside class="aside">

  <header class="header">
    {% include "ui/logo.njk" %}
  </header>

  <nav>
    Асайд
  </nav>

  <div class="aside__footer">
    {% include "footer.njk" %}
    <button class="aside__arrow-btn" title="Скрыть боковую навигацию"></button>
  </div>
</aside>
