<aside class="aside">

  <header class="header">
    <a href="/">
      {% include "ui/logo.njk" %}
    </a>
  </header>

  <nav>
    {% if collections.html | length %}
    <details>
      <summary>HTML</summary>

      {% include "collections/html.njk" %}

    </details>
    {% endif %}

    {% if collections.css | length %}
    <details>
      <summary>CSS</summary>

      {% include "collections/css.njk" %}

    </details>
    {% endif %}

    {% if collections.js | length %}
    <details>
      <summary>JS</summary>

      {% include "collections/js.njk" %}

    </details>
    {% endif %}

    {% if collections.tools | length %}
    <details>
      <summary>Инструменты</summary>

      {% include "collections/tools.njk" %}

    </details>
    {% endif %}
  </nav>

  <div class="aside__footer">
    {% include "footer.njk" %}
    <button class="aside__arrow-btn" type="button" aria-label="Скрыть навигацию"></button>
  </div>
</aside>
