<aside class="aside">

  <header class="header">
    <a href="/">
      {% include "ui/logo.njk" %}
    </a>
  </header>

  <nav>
    {% if collections.html | length %}
    <details>
      <summary>HTML</summary>

      {% include "collections/htmlArticles.njk" %}

      {% include "collections/htmlDokaList.njk" %}

    </details>
    {% endif %}

    {% if collections.css | length %}
    <details>
      <summary>CSS</summary>

      {% include "collections/cssArticles.njk" %}

      {% include "collections/cssDokaList.njk" %}

    </details>
    {% endif %}

    {% if collections.js | length %}
    <details>
      <summary>JAVASCRIPT</summary>

      {% include "collections/jsArticles.njk" %}

      {% include "collections/jsDokaList.njk" %}

    </details>
    {% endif %}

    {% if collections.tools | length %}
    <details>
      <summary>ИНСТРУМЕНТЫ</summary>

      {% include "collections/toolsArticles.njk" %}

      {% include "collections/toolsDokaList.njk" %}

    </details>
    {% endif %}
  </nav>

  <div class="aside__footer">
    {% include "footer.njk" %}
    <button class="aside__arrow-btn" type="button" aria-label="Скрыть навигацию"></button>
  </div>
</aside>
