{% set sections = {
  html: 'HTML',
  css: 'CSS',
  js: 'JavaScript',
  tools: 'Инструменты'
} %}

{% set isAllPage = page.url === '/all/' %}

{% macro simpleSection(title, children) %}
  <h2>{{ title }}</h2>
  {{ children | safe }}
{% endmacro %}

{% macro detailsSection(title, children) %}
  <details>
    <summary>{{ title }}</summary>
    {{ children | safe }}
  </details>
{% endmacro %}

{% for path, title in sections %}
  {% set docList %}
    <ul>
     {% for post in collections[path] %}
       <li><a href="/{{path}}/{{post.fileSlug}}/">{{ post.data.title }}</a></li>
     {% endfor %}
   </ul>
  {% endset %}

  {% set viewComponent = simpleSection if isAllPage else detailsSection %}

  {{ viewComponent(title=title, children=docList) }}
{% endfor %}
