<section class="contributors">
  <p>Автор статьи: {{ author }}</p>
  <details>
    <summary>Свой вклад внесли</summary>
      <ul>
        {% if contributors %}
          {% for contributor in contributors %}
          <li>
            {{ contributor }}
          </li>
          {% endfor %}
        {% endif %}
    </ul>

  </details>
</section>
