{% macro person(name, url) %}
  {% if url %}
    <a href="{{ url }}">{{ name }}</a>
  {% else %}
      <span>{{ name }}</span>
  {% endif %}
{% endmacro %}

{% macro personsList(list) %}
  <ul>
    {% for personItem in list %}
      <li>
        {{ person(name=personItem.data.name, url=personItem.data.url) }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

<section class="contributors">
  <p>Авторы: </p>
  {{ personsList(list=populatedAuthors) }}

  {% if contributors %}
    <details>
      <summary>Свой вклад внесли</summary>
      {{ personsList(list=populatedContributors) }}
    </details>
  {% endif %}

  {% if editors %}
    <details>
      <summary>Редакторы статьи</summary>
      {{ personsList(list=populatedEditors) }}
    </details>
  {% endif %}
</section>
