<form class="feedback-form" method="post" autocomplete="off" data-state="idle">
  <div class="feedback-form__header font-theme font-theme--code">
    <div class="feedback-form__title" data-state="idle">Статья была полезной?</div>
    <div class="feedback-form__title feedback-form__title--success" data-state="success">Спасибо</div>
    <div class="feedback-form__title feedback-form__title--error" data-state="error">Спасибо</div>
  </div>

  <fieldset class="feedback-form__fieldset feedback-form__fieldset--vote font-theme font-theme--code">
    <button class="vote vote--up" name="answer" value="Понравилось" type="submit">
      <span class="visually-hidden">Понравилось</span>
      <span aria-hidden="true">^‿^</span>
    </button>
    <button class="vote vote--down" type="button">
      <span class="visually-hidden">Не понравилось</span>
      <span aria-hidden="true">ˇ⌒ˇ</span>
    </button>
  </fieldset>

  <fieldset class="feedback-form__fieldset feedback-form__fieldset--reason" hidden>
    <legend class="feedback-form__legend">Расскажите, что не понравилось?</legend>
    <ul class="feedback-control-list base-list">
      <li class="feedback-control-list__item">
        <button class="feedback-form__reason-button button button--round" name="answer" value="Статья слишком сложная" type="submit">
          Статья слишком сложная
        </button>
      </li>
      <li class="feedback-control-list__item">
        <button class="feedback-form__reason-button button button--round" name="answer" value="Статья устарела" type="submit">
          Статья устарела
        </button>
      </li>
      <li class="feedback-control-list__item">
        <button class="feedback-form__reason-button button button--round" name="answer" value="В статье не хватает информации" type="submit">
          В статье не хватает информации
        </button>
      </li>
      <li class="feedback-control-list__item">
        <button class="feedback-form__reason-button button button--round" name="answer" value="В статье мало примеров" type="submit">
          В статье мало примеров
        </button>
      </li>
      <li class="feedback-control-list__item">
        <button class="feedback-form__reason-button button button--round" name="answer" value="Что-то другое" type="button">
          Что-то другое
        </button>
      </li>
    </ul>
    <div class="feedback-form__text" hidden>
      <div class="text-control">
        <textarea class="text-control__item text-control__input" name="answer" placeholder="Расскажите, пожалуйста, подробнее"></textarea>
        <button class="text-control__item text-control__button button button--invert" type="submit">Отправить</button>
      </div>
    </div>
  </fieldset>

  <p class="feedback-form__description">
    Если вы нашли ошибку, отправьте нам <a class="link" href="{{ constants.contentRepLink }}">пул-реквест</a>!
  </p>

  <p class="feedback-form__error" data-state="error">
    Во время отправки формы что-то пошло не так. Попробуйте ещё раз?
  </p>
</form>
