<footer class="footer">
  <div class="footer__content">
    <nav>
      <ul class="footer__nav-list">
        <li><a class="footer__link" href="">О&nbsp;проекте</a></li>
      </ul>
    </nav>
    <p>
      Присоединяйся&nbsp;<br class="footer__break">
      к нам <a class="footer__link" href="">на GitHub</a>
    </p>
  </div>
  {% if layout == 'aside-page.njk' %}
    <div class="footer__arrow-place">
      ==>
    </div>
  {% endif %}
</footer>
