<footer class="footer">
  <div class="footer__content">
    <p>
      <a class="footer__link" href="">О проекте</a>
    </p>
    <p>
      Присоединяйся к нам <a class="footer__link" href="">на GitHub</a>
    </p>
  </div>
</footer>
