{% set regExp = r/(css|html|js|tools).*/g %}

{% macro authorsList(list) %}[{% for personItem in list %}{
  "@type": "Person",
  "name": "{{ personItem.data.name }}"
}{{ '' if loop.last else ',' }}{% endfor %}]{% endmacro %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, nofollow">

<title>{{ articleTitle }}</title>
<meta itemprop="name" content="{{ articleTitle }}">
<meta property="og:title" content="{{ articleTitle }}">
<meta property="twitter:title" content="{{ articleTitle }}">
<meta property="og:url" content="https://doka.guide{{ page.url }}">
<meta property="og:locale" content="ru_RU">
<meta property="og:site_name" content="Дока">
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@doka_guide">

{% if doc.data.description %}
  <meta itemprop="description" content="{{ doc.data.description }}">
  <meta property="og:description" content="{{ doc.data.description }}">
  <meta property="twitter:description" content="{{ doc.data.description }}">
{% endif %}

{% if articleCategory != '' %}
  <meta property="article:tag" content="{{ articleCategory }}">
{% endif %}

{% if articleTag != '' %}
  <meta property="article:tag" content="{{ articleTag }}">
{% endif %}

{% if doc.data.cover.og %}
  <meta itemprop="image" content="https://doka.guide{{ page.url }}/{{ doc.data.cover.og }}">
  <meta property="og:image" content="https://doka.guide{{ page.url }}/{{ doc.data.cover.og }}">
  <meta property="og:image:alt" content="{{ doc.data.cover.alt }}">
{% endif %}

{% if doc.data.cover.twitter %}
  <meta property="twitter:image" content="https://doka.guide{{ page.url }}/{{ doc.data.cover.twitter }}">
  <meta property="twitter:image:alt" content="{{ doc.data.cover.alt }}">
{% endif %}

{% if regExp.test(page.url) %}
  <meta property="og:type" content="article">
  <meta property="article:section" content="Technology">
  <meta property="article:opinion" content="false">
  <script type="application/ld+json">
    {
      "@context": "http:\/\/schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://doka.guide{{ page.url }}"
      },
      "headline": "https://doka.guide{{ page.url }}",
      "datePublished": "{{ createdAt }}",
      "dateModified": "{{ updatedAt }}",
      "author": {{ authorsList(list=populatedAuthors) }},
      "publisher": {
        "@type": "Organization",
        "name": "Дока",
        "logo": {
          "@type": "ImageObject",
          "url": "https://doka.guide/images/publisher-logo.svg"
        }
      },
      "description": "{{ doc.data.description }}",
      "url": "https://doka.guide{{ page.url }}",
    }
  </script>
{% endif %}

<meta name="color-scheme" content="light dark">
<link rel="canonical" href="https://doka.guide{{ page.url }}">
<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/dark-theme.css" media="(prefers-color-scheme: dark)">
