{% macro authorsList(list) %}[{% for personItem in list %}{
  "@type": "Person",
  "name": "{{ personItem.data.name }}"
}{{ '' if loop.last else ',' }}{% endfor %}]{% endmacro %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, nofollow">

<title>{{ documentTitle }}</title>

{% if doc.data.description %}
  <meta itemprop="name" content="{{ articleTitle }}">
  <meta property="og:title" content="{{ articleTitle }}">
  <meta property="twitter:title" content="{{ articleTitle }}">
{% else %}
  <meta itemprop="name" content="{{ title }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="twitter:title" content="{{ title }}">
{% endif %}

<meta property="og:url" content="{{ baseUrl }}{{ page.url }}">
<meta property="og:locale" content="ru_RU">
<meta property="og:site_name" content="Дока">
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@doka_guide">

{% if doc.data.description %}
  <meta itemprop="description" content="{{ doc.data.description }}">
  <meta property="og:description" content="{{ doc.data.description }}">
  <meta property="twitter:description" content="{{ doc.data.description }}">
{% endif %}

{% if articleCategory %}
  <meta property="article:tag" content="{{ articleCategory }}">
{% endif %}

{% if articleTag %}
  <meta property="article:tag" content="{{ articleTag }}">
{% endif %}

{% if doc.data.cover.og %}
  <meta itemprop="image" content="{{ baseUrl }}{{ page.url }}/{{ doc.data.cover.og }}">
  <meta property="og:image" content="{{ baseUrl }}{{ page.url }}/{{ doc.data.cover.og }}">
  <meta property="og:image:alt" content="{{ doc.data.cover.alt }}">
{% endif %}

{% if doc.data.cover.twitter %}
  <meta property="twitter:image" content="{{ baseUrl }}{{ page.url }}/{{ doc.data.cover.twitter }}">
  <meta property="twitter:image:alt" content="{{ doc.data.cover.alt }}">
{% endif %}

{% if pageType === 'Article' %}
  <meta property="og:type" content="article">
  <meta property="article:section" content="Technology">
  <meta property="article:opinion" content="{{ containsPractice }}">
  <script type="application/ld+json">
    {
      "@context": "http:\/\/schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ baseUrl }}{{ page.url }}"
      },
      "headline": "{{ baseUrl }}{{ page.url }}",
      "datePublished": "{{ createdAt }}",
      "dateModified": "{{ updatedAt }}",
      "author": {{ authorsList(list=populatedAuthors) }},
      "publisher": {
        "@type": "Organization",
        "name": "Дока",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ baseUrl }}/images/publisher-logo.svg"
        }
      },
      "description": "{{ doc.data.description }}",
      "url": "{{ baseUrl }}{{ page.url }}",
    }
  </script>
{% endif %}

<link rel="canonical" href="{{ baseUrl }}{{ page.url }}">

<link rel="icon" href="/favicon.ico">
<link rel="icon" href="/images/icons/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/images/icons/180x180.png">
<link rel="manifest" href="/manifest.json">

<meta name="color-scheme" content="light dark">
<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/dark-theme.css" media="(prefers-color-scheme: dark)">
<script>
  (function() {
    {% include "src/scripts/modules/theme-toggle.js" %}
  })()
</script>
