{% macro authorsList(list) %}[{% for personItem in list %}{
  "@type": "Person",
  "name": "{{ personItem.data.name }}"
  {% if personItem.data.url %}
    ,"url": "{{ personItem.data.url }}"
  {% endif %}
}{{ '' if loop.last else ',' }}{% endfor %}]{% endmacro %}

<!-- 1. Title and Primary Meta -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ documentTitle }}</title>

{% if themeColor %}
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{ themeColor.light }}">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{ themeColor.dark }}">
{% endif %}

<!-- 2. Preconnect -->
<!-- 3. Async inline script -->
<!-- 4. CSS with @import -->
<!-- 5. Synchronous JS -->
<!-- 6. CSS without @import -->

<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/dark-theme.css" media="(prefers-color-scheme: dark)">

<script>
  (function() {
    {% include "src/scripts/modules/theme-toggle.js" %}
  })()
</script>

<!-- 7. Preload -->

<link rel="preload" href="/fonts/graphik/graphik-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/spot-mono/spot-mono-light.woff2" as="font" type="font/woff2" crossorigin>

<!-- 8. Defer inline script -->
<!-- 9. Prefetch/Prerender -->
<!-- 10. SEO/meta/icons/OS/etc. -->

<meta name="title" content="{{ socialTitle }}">

{% if documentDescription %}
  <meta name="description" content="{{ documentDescription }}">
{% endif %}

<meta name="robots" content="index, follow">
<meta name="color-scheme" content="light dark">

<link rel="icon" href="/favicon.ico">
<link rel="icon" href="/images/icons/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/images/icons/180x180.png">
<link rel="canonical" href="{{ baseUrl }}{{ page.url }}">
<link rel="manifest" href="/manifest.json">

<!-- 10.1 Open Graph (and Facebook) -->

<meta property="og:url" content="{{ fullPageUrl }}">
<meta property="og:title" content="{{ socialTitle }}">

{% if documentDescription %}
  <meta property="og:description" content="{{ documentDescription }}">
  <meta itemprop="description" content="{{ documentDescription }}">
{% endif %}

{% if pageType === 'Article' %}
  <meta property="og:type" content="article">
{% else %}
  <meta property="og:type" content="website">
{% endif %}

<meta property="og:image" content="{{ defaultOpenGraphPath }}">
<meta property="og:locale" content="ru_RU">
<meta property="og:site_name" content="Дока">

<!-- 10.2 Twitter -->

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ fullPageUrl }}">
<meta property="twitter:title" content="{{ socialTitle }}">

{% if documentDescription %}
  <meta property="twitter:description" content="{{ documentDescription }}">
{% endif %}

<meta property="twitter:image" content="{{ defaultTwitterPath }}">
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@doka_guide">

<!-- 10.3 Microdata -->

{% if categoryName %}
  <meta property="article:tag" content="{{ categoryName }}">
{% endif %}

{% if articleTag %}
  <meta property="article:tag" content="{{ articleTag }}">
{% endif %}

{% if pageType === 'Article' %}
  <script type="application/ld+json">
    {
      "@context": "http:\/\/schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ fullPageUrl }}"
      },
      "headline": "{{ socialTitle }}",
      {% if cover %}
      "image": [
        "{{ fullPageUrl }}{{ cover.desktop if cover.desktop }}"
        {% if cover.mobile %},{% endif %}
        "{{ fullPageUrl }}{{ cover.mobile if cover.mobile }}"
      ],
      {% endif %}
      "datePublished": "{{ createdAt.toISOString() if createdAt }}",
      "dateModified": "{{ updatedAt.toISOString() if updatedAt }}",
      "author": {{ authorsList(list=populatedAuthors) }},
      "publisher": {
        "@type": "Organization",
        "name": "Дока",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ baseUrl }}/images/publisher-logo.svg"
        }
      },
      "description": "{{ doc.data.description }}",
      "url": "{{ fullPageUrl }}"
    }
  </script>
  <meta property="article:section" content="Technology">
  <meta property="article:opinion" content="{{ containsPractice }}">
{% endif %}

{% if pageType === 'Article' %}
  {% if previousArticle %}
    <link rel="prev" href="{{ baseUrl }}{{ previousArticle.link }}">
  {% endif %}

  {% if nextArticle %}
    <link rel="next" href="{{ baseUrl }}{{ nextArticle.link }}">
  {% endif %}
{% endif %}
