{# Глобальные переменные #}
{# Укажите название папки с практиками #}
{% set folderName = "practice/" %}
{# Путь до файла с практиками #}
{% set practicePath = page.url + folderName %}
{# Конец глобальных переменных #}

<section class="practices">
  <h2 class="practices__title">В работе</h2>

  {% for practice in collections.practice %}

    {% if practice.filePathStem.indexOf(page.url) %}
    {% else %}
      {% set author = practice.filePathStem.slice(practicePath.length) %}

      <section class="practices__item">
        {# временное решение, пока на это место не будут подставляться реальные имена #}
        <h3 class="practices__author">{{ '@' + author }}</h3>
        {{ practice.data.content | safe }}
      </section>

    {% endif %}

  {% endfor %}

  <section class="practice__item practice__item_offer">
    <p>Вы можете помочь проекту, если напишите, как применяете элемент, свойство или подход, который мы описали в статье, на практике. <a href="https://github.com/Y-Doka/content/tree/master/{{ page.inputPath.slice(6, -8) }}">Начать на Github.</a></p>
  </section>

<section>
