{% macro answerOrName(name, url) %}
  {% if url %}
    <a class="link font-theme--code" href="{{ url }}">{{ name }}</a>
  {% else %}
    <span class="font-theme--code">{{ name }}</span>
  {% endif %}
{% endmacro %}

{% macro roleLabel(role) %}
  {% set roleUrl = allRoles[role].url %}
  {% if role.url %}
    {% set roleUrl = role.url %}
  {% endif %}
  {% set roleTitle = allRoles[role].title %}
  {% if role.title %}
    {% set roleTitle = role.title %}
  {% endif %}
  {% set roleColor = allRoles[role].color %}
  {% if role.color %}
    {% set roleColor = role.color %}
  {% endif %}
  {% set roleBackground = allRoles[role].bgColor %}
  {% if role.bgColor %}
    {% set roleBackground = role.bgColor %}
  {% endif %}
  {% set roleHover = allRoles[role].hoverColor %}
  {% if role.hoverColor %}
    {% set roleHover = role.hoverColor %}
  {% endif %}
  {% set roleBorder = allRoles[role].border %}
  {% if role.border %}
    {% set roleBorder = role.border %}
  {% endif %}
  <a href="{{ roleUrl }}" class="answer__author-roles-link" style="--role-color: {{ roleColor }}; --role-bg-color: {{ roleBackground }}; --role-hover-color: {{ roleHover }}; --role-border-color: {{ roleBorder }}">
    {{ roleTitle }}
  </a>
{% endmacro %}

{% if questions.length > 0 %}
  <section class="questions" id="questions">
    {{ questionsAuthors.length }}
    <h2 class="questions__title">
      На собеседовании
    </h2>

    <p class="questions__description">
      Это партнёрская рубрика, мы выпускаем её совместно с сервисом онлайн-образования <a href="https://practicum.yandex.ru/programming-upskilling/?utm_source=pr&utm_medium=content&utm_campaign=pr_content_programming-upskilling_doka?utm_content=na-sobese" title="Каталог курсов по программированию от Яндекс Практикума">Яндекс Практикум</a>. Приносите вопрос, на который не знаете ответа, в <a href="https://github.com/doka-guide/content/issues?q=is%3Aopen+is%3Aissue+label%3Aсобеседование" title="Все задачи для контента Доки, отфильтрованные по лейблу «собеседование»">задачи</a>, мы разложим всё по полочкам и опубликуем. Если знаете ответ, присылайте <a href="https://github.com/doka-guide/content/blob/main/docs/interviews.md" title="Инструкция по созданию вопросов и ответов для рубрики">пулреквест на GitHub</a>.
    </p>

    <div class="questions__list">

      {% for question in questions %}
        <div class="question__request">
          <aside class="callout">
            <div class="callout__content">
              <span aria-hidden="true">❓</span> {{ question.templateContent | safe }}
            </div>
          </aside>
        </div>

        <div class="question__response">
        {% if answers[question.fileSlug].length > 0 %}
          {% for answer in answers[question.fileSlug] %}
            {% set answerAuthor = collections.peopleById[answer.fileSlug] %}

            <article class="question__answer answer" id="{{ question.fileSlug }}-answers-{{ answer.fileSlug }}">
              <h3 class="answer__author">
                <span class="answer__author-roles">
                  {% for roleKey in answerAuthor.data.roles %}
                    {{ roleLabel(
                      role=roleKey
                    ) }}
                  {% endfor %}
                </span>
                <div>
                  <span class="answer__author-name">
                    {{ answerOrName(
                      name=(answerAuthor.data.name or answer.fileSlug),
                      url='/people/' + answerAuthor.fileSlug + '/'
                    ) }}
                  </span>
                  &nbsp;отвечает
                </div>
              </h3>
              <div class="answer__content {% if not answer.isLong %}answer__content--short{% endif %} content">
                <div class="answer__summary content">
                  {{ answer.templateContent | safe }}
                  {% if answer.isLong %}
                    <button class="answer__toggler" type="button" aria-live="polite" data-collapsed>
                      + Развернуть
                    </button>
                  {% endif %}
                </div>
              </div>
            </article>
          {% endfor %}
        {% else %}
          <p class="question__response-placeholder">
            Это вопрос без ответа. Вы можете помочь! Почитайте о том, как <a href="https://github.com/doka-guide/content/blob/main/docs/contributing.md">контрибьютить в Доку</a>.
          </p>
        {% endif %}
        </div>
      {% endfor %}
    </div>

  </section>
{% endif %}
