<div class="search">
  <input type="text" id="search" class="search__input" placeholder="Поиск..." autocomplete="off">
  <div id="search-suggestions" class="search__suggestions search__suggestions__hidden"></div>
</div>
