<section>
  <p>Это незавершённая статья про {{ title }}. Вы можете помочь её закончить! Почитайте <a href="https://github.com/doka-guide/content/blob/main/docs/contributing.md" target="_blank" rel="noopener noreferrer">о том, как контрибьютить в Доку</a>.</p>
</section>
