<style>
  {% include "src/styles/blocks/base-colors.css" %}
</style>
<style data-light-theme>
  {% include "src/styles/blocks/light-theme.css" %}
</style>
<style media="(prefers-color-scheme: dark)" data-dark-theme>
  {% include "src/styles/blocks/dark-theme.css" %}
</style>
