<dialog class="subscribe-popup notification dialog">
  <form class="subscribe-popup__close-form" method="dialog">
    <button class="subscribe-popup__close-button">
      <span aria-hidden="true">×</span>
      <span class="visually-hidden">Закрыть окно</span>
    </button>
  </form>
  <div class="subscribe-popup__container">
    <p class="subscribe-popup__text">В рассылке приходят тематические подборки, советы, авторские и партнёрские колонки</p>
    <form class="subscribe-popup__email-form" action="">
      <label class="subscribe-popup__label">
        <input class="subscribe-popup__input" type="email" name="email" placeholder="dog@doka.guide" inputmode="email" required>
        <span class="subscribe-popup__hint">Оставьте вашу почту</span>
      </label>
      <button class="subscribe-popup__submit-button notification__button button">OK</button>
    </form>
  </div>
  <div aria-live="polite">
    <p class="subscribe-popup__success-text">
      <span class="subscribe-popup__emoji">✅</span>
      Подписка на адрес <span class="subscribe-popup__email"></span> оформлена! Проверьте входящие: мы прислали ссылку на страницу, где можно настроить рассылку или отписаться.
    </p>
    <p class="subscribe-popup__error-text">
      <span class="subscribe-popup__emoji">❌</span>
      Что-то пошло не так! Подписка на адрес <span class="subscribe-popup__email"></span> не оформлена. Пожалуйста, попробуйте ещё раз.
    </p>
  </div>
</dialog>
