@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
    url("../../../fonts/roboto/thin.woff2") format("woff2"),
    url("../../../fonts/roboto/thin.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src:
    url("../../../fonts/roboto/thin-italic.woff2") format("woff2"),
    url("../../../fonts/roboto/thin-italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("../../../fonts/roboto/light.woff2") format("woff2"),
    url("../../../fonts/roboto/light.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src:
    url("../../../fonts/roboto/light-italic.woff2") format("woff2"),
    url("../../../fonts/roboto/light-italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../../../fonts/roboto/regular.woff2") format("woff2"),
    url("../../../fonts/roboto/regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url("../../../fonts/roboto/italic.woff2") format("woff2"),
    url("../../../fonts/roboto/italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("../../../fonts/roboto/medium.woff2") format("woff2"),
    url("../../../fonts/roboto/medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    url("../../../fonts/roboto/medium-italic.woff2") format("woff2"),
    url("../../../fonts/roboto/medium-italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../../../fonts/roboto/bold.woff2") format("woff2"),
    url("../../../fonts/roboto/bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    url("../../../fonts/roboto/bold-italic.woff2") format("woff2"),
    url("../../../fonts/roboto/bold-italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src:
    url("../../../fonts/roboto/black-italic.woff2") format("woff2"),
    url("../../../fonts/roboto/black-italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url("../../../fonts/roboto/black.woff2") format("woff2"),
    url("../../../fonts/roboto/black.woff") format("woff");
}
