.article-nav {
  --is-nav-open: 0;
  display: block;
  position: relative;
  font-size: 17px;
  border-bottom: 1px solid var(--active-link-background, hsl(var(--color-fade)));
}

@media (width >= 1024px) {
  .article-nav {
    --offset: 10px;
    padding: var(--offset);
    font-size: inherit;
    border-bottom: 0;
  }
}

.article-nav--open {
  --is-nav-open: 1;
}

.article-nav__toggle {
  position: relative;
  width: 100%;
}

@media (width >= 1024px) {
  .article-nav__toggle {
    display: none;
  }
}

.article-nav__content {
  display: none;
  box-sizing: border-box;
  padding: 18px 0 var(--offset);
  line-height: 1.8;
}

@media (width >= 1024px) {
  .article-nav__content {
    display: initial;
    overflow: auto;
    padding: var(--offset);
    height: 100%;
    line-height: 2;
    overscroll-behavior: contain;
  }
}

.toggle-button__icon--open .article-nav__toggle {
  display: none;
}

.toggle-button {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--offset);
  width: 100%;
  font-size: inherit;
  border: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.toggle-button[aria-expanded="true"] {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  text-align: initial;
}

.toggle-button__icon {
  width: 48px;
  height: 48px;
  color: var(--color-text);
  background-color: transparent;
}

.toggle-button__icon--close {
  display: none;
}

.article-nav--open .toggle-button__icon--open {
  display: none;
}

.article-nav--open .article-nav__content,
.article-nav--open .toggle-button__icon--close {
  display: block;
}

.toggle-text {
  display: inline-block;
}

.article-nav--open .toggle-text {
  display: none;
}
