.article-heading {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: var(--font-size);
  line-height: var(--line-height);
  scroll-margin: calc((var(--fixed-header-height, 0) * 1px) + 1rem);
}

.article-heading__title {
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
  font: inherit;
}

.article-heading__link {
  display: inline-block;
  color: hsl(var(--color-blue));
  transition: 0.2s;
}

.offline .article-heading__link::after {
  display: none;
}

@media (hover: hover) {
  .article-heading:not(:hover) .article-heading__link:not(:focus) {
    opacity: 0;
  }
}

.article-heading__icon {
  display: block;
  width: 0.64em;
  height: auto;
}

.article-heading__icon:active {
  width: 0.6em;
}

.article-heading__code {
  font-size: 1.2em;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

.article-heading--level-1,
.article-heading--level-1 > * {
  --font-size: var(--font-size-headline-1);
  --line-height: var(--font-line-height-headline-1);
}

.article-heading--level-2,
.article-heading--level-2 > * {
  --font-size: var(--font-size-headline-2);
  --line-height: var(--font-line-height-headline-2);
}

.article-heading--level-3,
.article-heading--level-3 > * {
  --font-size: var(--font-size-headline-3);
  --line-height: var(--font-line-height-headline-3);
}

.article-heading--level-4,
.article-heading--level-4 > * {
  --font-size: var(--font-size-headline-4);
  --line-height: var(--font-line-height-headline-4);
}

.article-heading--level-5,
.article-heading--level-5 > * {
  --font-size: var(--font-size-headline-5);
  --line-height: var(--font-line-height-headline-5);
}

.article-heading--level-2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.article-heading--level-3,
.article-heading--level-4,
.article-heading--level-5 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.article-heading + .article-heading {
  margin-top: 0;
}

@media (min-width: 768px) {
  .article-heading--level-2 {
    margin-top: 70px;
    margin-bottom: 16px;
  }

  .article-heading--level-3,
  .article-heading--level-4,
  .article-heading--level-5 {
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1024px) {
  .article-heading--level-2 {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .article-heading--level-3,
  .article-heading--level-4,
  .article-heading--level-5 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1680px) {
  .article-heading--level-2 {
    margin-top: 70px;
    margin-bottom: 20px;
  }
}
