.article-nav {
  --is-nav-open: 0;
  --button-height: 108px;
  --lightness: calc(100% - var(--is-dark-theme-on) * 80%);
}

.article-nav__button {
  position: absolute;
  left: 0;
  bottom: 100%;
  overflow: visible;
  width: 100%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  min-height: var(--button-height);
  padding: 30px 10px;
  background-color: transparent;
  cursor: pointer;
}

.article-nav__button-icon {
  visibility: visible;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: auto;
  transform: scale(calc(var(--on) + var(--off) * 1.5));
  opacity: var(--on);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: var(--color-text);
  background-color: hsl(0 0% var(--lightness));
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s, opacity 0.5s;
}

.article-nav__button-icon--open {
  --on: calc(1 - var(--is-nav-open));
  --off: var(--is-nav-open);
}

.article-nav__button-icon--close {
  --on: var(--is-nav-open);
  --off: calc(1 - var(--is-nav-open));
}

.article-nav__button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33));
  transition: 0.5s;
}

.article-nav__key-helper {
  --key-helper-gap: calc(var(--offset) / 4);
  position: absolute;
  top: var(--key-helper-gap);
  right: var(--key-helper-gap);
  pointer-events: none;
  display: grid;
  gap: var(--key-helper-gap);
  padding: var(--key-helper-gap);
  border: 1px solid hsl(var(--color-base-text) / 0.1);
  background-color: var(--color-background);
  border-radius: 6px;
  transition: all 0.3s;
}

.article-nav__content {
  overflow: auto;
  padding: var(--offset);
  min-height: 0;
}

.article-nav--open {
  --is-nav-open: 1;
}

.article-nav:not(.article-nav--open) .article-nav__button {
  visibility: hidden;
  transition-delay: 0.5s;
}

.article-nav:not(.article-nav--open) .article-nav__button::before {
  visibility: hidden;
  opacity: 0;
}

.article-nav:not(:focus-within) .article-nav__key-helper {
  opacity: 0;
  visibility: hidden;
  transform: translateY(calc(var(--offset) / 4));
}

@media not all and (min-width: 1024px) {
  .article-nav {
    transform: translateY(calc((1 - var(--is-nav-open)) * 100%));
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    max-height: calc(100% - var(--button-height));
    display: grid;
    grid-template-rows: 1fr auto;
    transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .article-nav__content {
    background-color: hsl(0 0% var(--lightness));
  }

  .article-nav__key-helper {
    display: none;
  }
}

@media (min-width: 1024px) {
  .article-nav {
    position: relative;
    transform: none;
    display: block;
  }

  .article-nav__button {
    display: none;
  }

  .article-nav__content {
    overflow: auto;
    box-sizing: border-box;
    height: 100%;
  }
}

@supports (filter: drop-shadow(0 0)) {
  .article-nav__button-icon {
    box-shadow: none;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }
}
