.articles-group {}

.articles-group__title {
  margin-top: 0;
  margin-bottom: 12px;
  box-sizing: border-box;
  padding: 4px 10px;
  display: inline-block;
  vertical-align: top;
  font: inherit;
  background-color: var(--accent-color);
}

.articles-group__title--letter {
  text-transform: uppercase;
}

.articles-group__list {
  display: grid;
  grid-gap: 10px;
}

.articles-group__link {
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
  font-family: var(--font-family);
}

.articles-group__code {
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  overflow-wrap: break-word;
  word-break: break-word;
}

.articles-group__placeholder-icon::before {
  content: '✎';
  font-family: var(--font-family);
  font-size: var(--font-size-m);
}

@media (min-width: 768px) {
  .articles-group__list {
    grid-gap: 12px;
  }
}

@media (min-width: 1024px) {
  .articles-group__title {
    margin-bottom: 10px;
  }
}
