.article-heading {}

.article-heading__title {
  margin: 0;
  display: inline;
}

.article-heading:not(:first-of-type) .article-heading__title {
  scroll-margin: calc((var(--header-height, 0) * 1px) + 1em);
}

.article-heading:first-of-type .article-heading__title {
  scroll-margin: 1em;
  font: inherit;
}

.article-heading__link {
  display: inline-block;
  color: hsl(var(--color-blue));
  transition: 0.2s;
}

@media (hover: hover) {
  .article-heading:not(:hover) .article-heading__link {
    transform: translateX(-25%);
    opacity: 0;
  }
}

.article-heading__icon {
  display: block;
  width: 0.64em;
  height: auto;
}

.article-heading--level-1 {
  font-size: var(--font-size-xxl);
  line-height: var(--font-line-height-xxl);
}

.article-heading--level-2 {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-height-xl);
}

.article-heading--level-3 {
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-l);
}

.article-heading--level-4 {
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
}

.article-heading--level-5 {}

.article-heading--level-6 {}
