.articles-gallery {
  padding-bottom: 20px;
  padding-bottom: clamp(20px, 7.3%, 120px);
}

.articles-gallery__title {
  margin-top: 0;
  margin-bottom: 0.75em;
  font-weight: normal;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-height-xl);
}

.articles-gallery__more-button {
  --button-gutter: 20px;
  margin: var(--button-gutter) auto;
  display: block;
  width: max-content;
}

.articles-gallery__more-button[hidden] {
  display: none;
}

@media (min-width: 768px) {
  .articles-gallery__more-button {
    --button-gutter: 30px;
  }
}
