.aside {
  width: 20.625em;
  min-height: 100vh;
  height: 100%;

  display: grid;
  grid-template-rows:
    min-content
    1fr
    min-content;

  background: hsl(0deg 0% calc(97% * var(--is-light-theme-on) + 16% * var(--is-dark-theme-on)));

  position: relative;

  transition: all 0.2s ease-out;
}

.aside__details {
  cursor: pointer;
}

.aside_hidden {
  transform: translateX(-16.875em);
  transition: all 0.2s ease-out;
}

.aside__nav {
  padding-left: 36px;
}

.aside__footer {
  /* display: grid;
  grid-template-columns: 1fr max-content; */
  padding: 20px 30px;
  position: sticky;
  left: 0;
  bottom: 0;

  background: inherit;
}

.aside_hidden .aside__footer {
  /* padding: 0; */
}

/* Aside Hidder */

.aside__arrow-btn {
  margin-left: auto;
  display: block;
  width: 2.2em;
  height: 1.6em;
  border: none;
  background-color: transparent;
  background-image: url(/images/aside-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 0.1s ease-in;
  cursor: pointer;
  filter: invert(calc(100% * var(--is-dark-theme-on)));
}

.aside_hidden .aside__arrow-btn {
  transform-origin: center;
  transform: scale(-1, 1);
  transition: transform 0.1s ease-out;
}
