.wdi-browser-compat {
  margin-block-end: 20px;
  align-items: center;
  color: var(--color-light);
  display: flex;
  flex-wrap: wrap;
}

.wdi-browser-compat__items {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 0;
  gap: 24px;
  list-style: none;
}

doka-baseline {
  min-height: 56px;
}

@media (width >= 768px) {
  .wdi-browser-compat {
    max-width: 81%;
  }
}

@media (width >= 1024px) {
  .wdi-browser-compat {
    max-width: 87.5%;
  }
}

@media not all and (width >= 1024px) {
  .wdi-browser-compat {
    padding: inherit;
  }
}

@media (width >= 1680px) {
  .wdi-browser-compat {
    max-width: 100%;
  }
}
