.base {
  /* базовая палитра цветов */
  --color-light: 0 0% 100%;
  --color-dark: 0 0% 0%;

  --color-orange: 25 100% 59%;
  --color-blue: 209 100% 59%;
  --color-yellow: 49 100% 58%;
  --color-pink: 346 81% 78%;
  --color-green: 122 78% 58%;

  /* цвета для светлой темы (тема по умолчанию) */
  --is-light-theme-on: 1;
  --is-dark-theme-on: 0;

  --color-base-text: var(--color-dark);
  --color-base-background: var(--color-light);

  --color-text: hsl(var(--color-dark));
  --color-background: hsl(var(--color-light));

  --color-html: hsl(var(--color-alpha));
  --color-css: hsl(var(--color-beta));
  --color-js: hsl(var(--color-gamma));
  --color-svg: hsl(var(--color-delta));
  --color-tools: hsl(var(--color-epsilon));

  /* базовые правила корневого блока */
  font-size: var(--font-size-m, 100%);
  line-height: var(--font-line-height-m);
  font-family: var(--font-family, sans-serif);
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-text-size-adjust: 100%;
}

.base__body {
  margin: 0;
}

/* цвета для тёмной темы */
@media (prefers-color-scheme: dark) {
  .base {
    --is-light-theme-on: 0;
    --is-dark-theme-on: 1;

    --color-base-text: var(--color-light);
    --color-base-background: var(--color-dark);

    --color-text: hsl(var(--color-light));
    --color-background: hsl(var(--color-dark));

    --color-html: hsl(var(--color-alpha) / 0.4);
    --color-css: hsl(var(--color-beta) / 0.4);
    --color-js: hsl(var(--color-gamma) / 0.4);
    --color-svg: hsl(var(--color-delta) / 0.4);
    --color-tools: hsl(var(--color-epsilon) / 0.4);
  }
}

.base--light-theme {
  --is-light-theme-on: 1;
  --is-dark-theme-on: 0;

  --color-base-text: var(--color-dark);
  --color-base-background: var(--color-light);

  --color-text: hsl(var(--color-dark));
  --color-background: hsl(var(--color-light));

  --color-html: hsl(var(--color-alpha));
  --color-css: hsl(var(--color-beta));
  --color-js: hsl(var(--color-gamma));
  --color-svg: hsl(var(--color-delta));
  --color-tools: hsl(var(--color-epsilon));
}

.base--dark-theme {
  --is-light-theme-on: 0;
  --is-dark-theme-on: 1;

  --color-base-text: var(--color-light);
  --color-base-background: var(--color-dark);

  --color-text: hsl(var(--color-light));
  --color-background: hsl(var(--color-dark));

  --color-html: hsl(var(--color-alpha) / 0.4);
  --color-css: hsl(var(--color-beta) / 0.4);
  --color-js: hsl(var(--color-gamma) / 0.4);
  --color-svg: hsl(var(--color-delta) / 0.4);
  --color-tools: hsl(var(--color-epsilon) / 0.4);
}
