.base {
  font-size: var(--font-size-m, 100%);
  line-height: var(--font-line-height-m);
  font-family: var(--font-family, sans-serif);
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-text-size-adjust: 100%;
}

.base__body {
  margin: 0;
}
