.base {
  --is-header-sticky: 1;
  --header-height: 56;
  font-size: var(--font-size-m, 100%);
  line-height: var(--font-line-height-m, 1.15);
  font-family: var(--font-family, sans-serif);
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/* TODO: рассчитать правильный отступ при наличии класса aria__controls--expanded */

.base__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-block-size: 100dvh;
  margin: 0;
}

.base__body:has(.header--open) {
  top: 56px;
}
