.breadcrumbs {
  display: flex;
  align-items: baseline;
  font-size: var(--font-size-l);
}

.header__breadcrumbs {
  min-width: 0;
}

@media not all and (width >= 768px) {
  .header--sticky .header__breadcrumbs {
    flex-wrap: wrap;
  }
}

.breadcrumbs__item {
  display: flex;
  align-items: baseline;
}

.breadcrumbs__text {
  --stroke-width: 2px;
  --text-font-size: 0.85em;
  letter-spacing: -.08em;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-underline-offset: 0.2em;
  overflow: hidden;
}

.breadcrumbs .link::after,
.breadcrumbs__item .link::after {
  display: none;
}
