.code-block {
  counter-reset: line-count 0;
  overflow: auto;
  white-space: pre;
}

.code-block__content {
  border-collapse: collapse;
  font-size: var(--font-size-s);
  line-height: calc(24 / 18);
  letter-spacing: var(--letter-spacing);
  font-family: var(--font-family, monospace);
}

.code-block__origin {}

.code-block__line {}

.code-block__line-number {
  position: sticky;
  left: 0;
  padding-right: 0.83em;
  vertical-align: baseline;
  font-weight: normal;
  text-align: end;
  background-color: hsla(var(--color-base-background) / 0.92);
}

.code-block__line-number::before {
  content: counter(line-count);
  counter-increment: line-count;
  opacity: 0.6;
}

.code-block__line-content {
  vertical-align: baseline;
}
