.token.color::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: var(--color-picker-margin);
  background-color: var(--color-picker);
}

.color-picker__internal {
  --color-picker-margin: 0 2px;
}

.color-picker__external {
  --color-picker-margin: 0 2px 0 0;
}
