.token.color::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: var(--indent);
  background-color: var(--color-picker);
  line-height: 0;
}

.indent {
  --indent: 0 2px 0 0;
}

.parenthesis-indent {
  margin-right: 2px;
}
