.contributors {
  margin: 0;
}

.contributors__item:not(:first-child) {
  margin-top: 12px;
}

.contributors__key,
.contributors__value {
  margin: 0;
  display: inline;
}

@media not all and (min-width: 1024px) {
  .contributors__item:not(:first-child) {
    margin-top: 0;
  }
}
