.doc {
  --offset: 10px;
}

.doc__wrapper {
  box-sizing: border-box;
  padding-left: var(--offset);
  padding-right: var(--offset);
  width: 100%;
  max-width: calc(var(--content-width) + 2 * var(--offset));
  min-width: 0;
}

.doc__main,
.doc__article {
  display: contents;
}

.doc__article {}

.doc__feedback-form {
  order: 2;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--offset);
  padding-right: var(--offset);
  padding-top: 100px;
  max-width: 672px;
}

.doc__footer {
  position: relative;
  z-index: 0;
  margin-top: 50px;
  margin-top: clamp(20px, 4.5%, 50px);
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.doc__linked-articles {
  margin-block-start: 102px;
  margin-block-start: min(102px, 26%);
  display: flex;
  gap: var(--offset, 20px);
}

.doc__related-articles {
  overflow: hidden;
  padding-inline: 0;
  padding-block-start: 65px;
  padding-block-start: min(65px, 18%);
}

@media not all and (min-width: 768px) {
  .doc__linked-articles {
    flex-direction: column;
    gap: 13px;
  }
}

@media not all and (min-width: 1024px) {
  .doc__linked-articles {
    padding-inline: inherit;
  }
}

@media (min-width: 1024px) {
  .doc {
    --offset: 20px;
    --aside-with: 25%;
    --content-width: 1087px;
    --columns-template: var(--aside-with) 1fr;
    display: grid;
    grid-template-columns: var(--columns-template);
    grid-template-rows: auto 1fr auto;
    align-items: start;
    align-content: start;
    min-height: calc(100vh - var(--header-height, 0) * 1px);
  }

  .doc > * {
    grid-column: 2 / -1;
  }

  .doc__article {
    grid-column: 1 / -1;
  }
}

@media (min-width: 2000px) {
  .doc {
    --columns-template: var(--aside-with) 1fr var(--aside-with);
  }

  .doc__wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
