.featured-article {
  --gutter: 10px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 330px;
}

.featured-article::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: var(--accent-color, hsl(0 0% 90%));
  transition: opacity 0.2s;
}

.featured-article:hover::before {
  opacity: 0.84;
}

.featured-article__image-wrapper {
  margin-bottom: auto;
  position: relative;
  display: block;
}

.featured-article__image-wrapper::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.featured-article__image {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
  object-fit: contain;
  object-position: center top;
}

.featured-article__title {
  --font-size: var(--font-size-xl);
  --line-height: var(--font-line-height-xl);
  margin: 0;
  padding: var(--gutter);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: normal;
}

.featured-article__code {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size, var(--font-size-m));
  line-height: var(--line-height, var(--font-line-height-m));
}

.featured-article__link {
  --stroke-width: 2px;
}

.featured-article__link:hover {
  --stroke-opacity: 0;
  --stroke-width: 0;
}

.featured-article__link::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.featured-article__description {
  margin-top: auto;
  margin-bottom: 0;
  padding: var(--gutter);
}

@media (min-width: 768px) {
  .featured-article {
    min-height: 402px;
  }
}

@media (min-width: 1024px) {
  .featured-article {
    min-height: 500px;
  }
}

@media (min-width: 1680px) {
  .featured-article {
    --gutter: 20px;
    min-height: 580px;
  }
}
