.feedback-control-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
  justify-content: center;
  gap: 6px;
  row-gap: 10px;
  list-style: none;
}

.feedback-control-list__item {}

@media (min-width: 768px) {
  .feedback-control-list {
    gap: 5px;
  }
}

@media (min-width: 1024px) {
  .feedback-control-list {
    gap: 8px;
  }
}

@media (min-width: 1680px) {
  .feedback-control-list {
    gap: 10px;
    row-gap: 12px;
  }
}
