.feedback-form {
  text-align: center;
  font-size: var(--font-size-s);
  line-height: var(--font-line-height-s);
}

.feedback-form__header {
  margin-bottom: 0.4em;
  font-family: var(--font-family);
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-l);
  letter-spacing: var(--letter-spacing);
}

.feedback-form__title {}

.feedback-form__fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

.feedback-form__fieldset::after {
  content: '';
  display: table;
  clear: both;
}

.feedback-form__fieldset--vote {
  margin-bottom: 20px;
  margin-bottom: clamp(10px, 3%, 20px);
  display: flex;
  justify-content: center;
  gap: 10px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size-m);
  line-height: 1;
}

.feedback-form__fieldset--reason {
  --lightness: calc(var(--is-light-theme-on) * 97% + var(--is-dark-theme-on) * 20%);
  padding: 4.5% 4.5% 6%;
  background-color: hsl(0 0% var(--lightness));
  border-radius: 6px;
}

.feedback-form__fieldset:disabled {
  opacity: 0.5;
}

.feedback-form__legend {
  margin-bottom: 20px;
  margin-bottom: clamp(10px, 3%, 20px);
  float: left;
  width: 100%;
}

.feedback-form__legend + * {
  clear: both;
}

.feedback-form__reason-button {
  padding: 5px 19px;
  line-height: 1.15;
}

.feedback-form__text {
  margin-top: 70px;
}

.feedback-form__description {
  margin-top: 20px;
}

.feedback-form__error {
  margin-top: 20px;
  color: hsl(0, 81%, 64%);
}

.feedback-form:not([data-state="idle"]) [data-state="idle"],
.feedback-form:not([data-state="success"]) [data-state="success"],
.feedback-form:not([data-state="error"]) [data-state="error"] {
  display: none;
}

@media (min-width: 768px) {
  .feedback-form__header {
    font-size: var(--font-size-m);
    line-height: var(--font-line-height-m);
  }

  .feedback-form__reason-button {
    padding: 0 9px;
    line-height: inherit;
  }
}

@media (min-width: 1024px) {
  .feedback-form__reason-button {
    padding: 3px 19px;
    line-height: calc(16 / 12);
  }
}

@media (min-width: 1680px) {
  .feedback-form__reason-button {
    padding: 5px 19px;
    line-height: inherit;
  }
}
