.font-theme,
.font-theme--text {
  --font-family: 'Graphik', sans-serif;

  --font-size-s: 15px;
  --font-line-height-s: 20px;

  --font-size-m: 24px;
  --font-line-height-m: 30px;

  --font-size-l: 36px;
  --font-line-height-l: 42px;

  --font-size-xl: 48px;
  --font-line-height-xl: 60px;

  --font-size-xxl: 60px;
  --font-line-height-xxl: 60px;
}

.font-theme--code {
  --font-family: 'Spot Mono', monospace;

  --letter-spacing: -0.04em;

  --font-size-s: 18px;
  --font-line-height-s: 18px;

  --font-size-m: 28px;
  --font-line-height-m: 30px;

  --font-size-l: 42px;
  --font-line-height-l: 42px;

  --font-size-xl: 60px;
  --font-line-height-xl: 60px;

  --font-size-xxl: 72px;
  --font-line-height-xxl: 60px;
}
