.footer {
  border-block-start: 1px solid hsl(var(--color-base-text) / 0.3);
  padding: 20px 10px;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__theme-toggle {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: baseline;
  gap: 0.5em;
  font-size: var(--font-size-s);
  line-height: var(--font-line-height-s);
  border: 0;
}

.footer__lists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  line-height: var(--font-line-height-s);
  letter-spacing: var(--letter-spacing);
}

.footer__list_social {
  flex-direction: row;
  gap: 5px;
}

.footer-list__icon {
  vertical-align: middle;
}

.footer-list__link_social {
  padding: 5px;
}

.footer-list__link_social:hover {
  opacity: 0.7;
}

.footer-list__icon--invertible {
  filter: invert(var(--is-dark-theme-on));
}

@media (min-width: 1024px) {
  .footer {
    padding: 20px;
  }
}

@media not all and (min-width: 768px) {
  .footer {
    align-items: flex-start;
    flex-direction: column;
    padding-block-start: 30px;
  }

  .footer__lists {
    flex-direction: column;
  }

  .footer__theme-toggle,
  .footer__list {
    flex-direction: column;
  }

  .footer__list {
    gap: 11px;
  }

  .footer__theme-toggle {
    gap: 4px;
    order: 1;
  }

  .footer__list_social {
    flex-direction: row;
    gap: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1366px) {
  .footer__list {
    line-height: 18px;
  }
}
