.footer-nav-list {
  display: flex;
  align-items: baseline;
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

.footer-nav-list__item {}

.footer-nav-list__item:not(:last-child) {
  margin-right: 30px;
}

.footer-nav-list__link {}
