.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

.footer__toggle {}

.footer__list {}
