/* TODO: разобраться со свалкой с анимациями */

/* анимируем появление/скрытие всего меню */

/*
.header {
  --header-animation-time: 0.5s;
  background-color: var(--color-background);
}

.header:not(.header--open, .header--static) .header__menu {
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
  transition-delay: 0s, var(--header-animation-time), var(--header-animation-time);
}

.header::before:not(.header--open) {
  content: "";
  position: fixed;
  z-index: 2;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-text);
  transition:
    opacity var(--header-animation-time),
    visibility var(--header-animation-time);
}

.header--sticky-show {
  animation-direction: normal;
}

.header--sticky-hide {
  animation-direction: reverse;
  animation-duration: 0.2s;
  animation-timing-function: ease;
}

.header--animating {
  animation-name: fixedHeaderAnimation;
  animation-duration: var(--header-animation-time);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes fixedHeaderAnimation {
  from {
    transform: translateY(-100%);
  }
}

.header:not(.header--sticky)::after {
  opacity: 0;
}

.header:not(.header--open)::before {
  opacity: 0;
  visibility: hidden;
}

.header:not(.header--open, .header--static) .header__inner--menu {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition-delay: 0s, var(--header-animation-time), var(--header-animation-time);
}

.header__menu {
  transition: transform var(--header-animation-time) cubic-bezier(0.65, 0.05, 0.36, 1);
}
*/

/* анимируем появление строки поиска, когда меню открывается */
.header__controls .header__search {
  transition: opacity var(--header-animation-time);
}

/* анимируем булочку */
.logo {
  --image-font-size: 0.85em;
  --logo-letter-spacing: -0.14em;
}

.logo__image {
  --is-animation: 0;
}

.logo__image::before {
  --colors:
    var(--accent-color),
    var(--accent-color),
    var(--color-css),
    var(--color-js),
    var(--color-tools),
    var(--color-recipes),
    var(--color-a11y),
    var(--accent-color),
    var(--accent-color);
  --parts: 8;
  content: '';
  opacity: var(--is-animation);
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  height: calc(var(--parts) * 100%);
  background-image: linear-gradient(var(--colors));
  transition: opacity 0.5s;
}

.logo__image--animation {
  --is-animation: 1;
}

@keyframes logoAnimation {
  to {
    transform:
      translateY(-100%)
      translateY(calc(100% / (var(--parts) - 1)));
  }
}

.logo__image--animation::before {
  animation: logoAnimation 0.75s ease-out infinite both;
}

.logo__symbols {
  transition: opacity 0.2s;

  /* для устранения скачков в Safari */
  transform: translateZ(0);
}

.logo__symbols--main {
  opacity: calc(1 - var(--is-animation));
}

.logo__symbols--search {
  opacity: var(--is-animation);
}

.logo__eye {
  top: -0.08em;
}

.logo__nose {
  top: -0.015em;
}
