.header {
  position: relative;
  width: 100%;
  --header-bg-color: var(--accent-color, var(--color-background));
  --search-input-height: 0.7em;
  --header-animation-time: 0.6s;
  background-color: var(--color-background);
  z-index: 2;
}

/* фон с закрытым меню */
.header::before:not(.header--open) {
  content: '';
  z-index: 2;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-text);
  transition:
    opacity var(--header-animation-time),
    visibility var(--header-animation-time);
}

/* "тень" от фиксированной шапки */
.header::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: -1px;
  height: 40px;
  background:
    linear-gradient(
      to bottom,
      hsl(var(--color-base-background)/1) 0%,
      hsl(var(--color-base-background)/0.889) 2.5%,
      hsl(var(--color-base-background)/0.856) 6%,
      hsl(var(--color-base-background)/0.806) 10.4%,
      hsl(var(--color-base-background)/0.742) 15.6%,
      hsl(var(--color-base-background)/0.667) 21.5%,
      hsl(var(--color-base-background)/0.583) 28%,
      hsl(var(--color-base-background)/0.495) 35.1%,
      hsl(var(--color-base-background)/0.405) 42.5%,
      hsl(var(--color-base-background)/0.317) 50.4%,
      hsl(var(--color-base-background)/0.233) 58.5%,
      hsl(var(--color-base-background)/0.158) 66.8%,
      hsl(var(--color-base-background)/0.094) 75.2%,
      hsl(var(--color-base-background)/0.044) 83.6%,
      hsl(var(--color-base-background)/0.011) 91.9%,
      hsl(var(--color-base-background)/0) 100%
    );
  pointer-events: none;
  transition: opacity var(--header-animation-time);
}

/* открытое меню */
.header--open {
  width: 100%;
  z-index: 3;
  animation: none;
}

/* фиксируем меню на всех страницах, кроме главной */
.header--open:not(.header--main) {
  position: fixed;
}

.header--open::after {
  display: none;
}

/* всё меню без выпадающего списка по умолчанию */
.header__controls {
  display: grid;
  align-content: start;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  grid-template-areas:
    "logo button"
    "search search-output";
  grid-auto-columns: auto 1fr auto;
  grid-template-rows: auto var(--search-input-height);
  background-color: var(--header-bg-color);
  font-size: var(--font-size-l);
  letter-spacing: -0.06em;
  line-height: var(--font-line-height-l);
  font-family: var(--font-family);

  /* z-index: 999; */
}

/* фон всего меню, когда открыт выпадающий список (кроме главной) */
.header--open:not(.header--main) .header__controls {
  background-color: var(--color-background);
}

/* поиск */
.header__controls .header__search {
  display: none;
  grid-area: search;
}

/* показываем поиск при открытом меню */
.header--open .header__search {
  display: block;
}

/* @media (min-width: 1024px) {
  .header__inner .header__search {
    margin-top: -14px;
  }
} */

@media (min-width: 1024px) {
  .header__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .header__controls .header__search {
    align-self: flex-start;
    flex-grow: 1;
  }
}

/* выпадающее меню со списком разделов по умолчанию */
.header__menu {
  height: 0;
  padding: 0 10px;
  font-size: calc(var(--font-size-xl) * 0.95);
  line-height: calc(var(--font-line-height-xl) * 0.95);
  letter-spacing: -0.06em;
  background-color: var(--color-background);
  transition:
    transform var(--header-animation-time) cubic-bezier(0.65, 0.05, 0.36, 1),
    opacity 0s,
    visibility 0s;
  z-index: 2;
}

@media (min-width: 1024px) {
  .header__menu {
    width: inherit;
    padding: 0 20px 0 229px;
  }
}

/* выпадающее меню на главной, которое всегда открыто */
.header--main .header__menu {
  position: relative;
  height: auto;
}

/* выпадающее меню в открытом состоянии */
.header--open:not(.header--main) .header__menu {
  position: fixed;
  height: auto;
}

.nav-list {
  --block-padding: 6px;
  line-height: inherit;
}

/* список разделов */
.header__menu-list {
  /* margin-top: var(--gap, 16px); */
  margin-top: 0;
  margin-bottom: 1.7%;
}

@media (min-width: 1024px) {
  .header__menu-list {
    margin-top: calc(4 * var(--gap, 16px));
  }
}

@media (min-width: 1366px) {
  .header__menu-list {
    margin-top: calc(6 * var(--gap, 16px));
  }
}

@media not all and (min-width: 768px) {
  .header__menu-list {
    --gap: 16px;
  }
}

@media (min-width: 768px) {
  .header__menu-list {
    --gap: 14px;
  }
}

@media (min-width: 1024px) {
  .header__menu-list {
    --gap: 6px;
  }
}

@media (min-width: 1680px) {
  .header__menu-list {
    --gap: 9px;
  }
}

.header__breadcrumbs {
  min-width: 0;
  line-height: 1.25;
}

@media (min-width: 768px) {
  .header__breadcrumbs {
    font-size: var(--font-size-l);
  }
}

@media not all and (min-width: 768px) {
  .header--fixed .header__breadcrumbs {
    flex-wrap: wrap;
  }
}

.header__title-code {
  font: inherit;
}

.header__logo {
  display: flex;
  align-self: center;
  align-items: center;
}

/* разделитель */
.header__divider {
  opacity: 0.3;
  margin: 0 0.2em;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

.header__divider::before {
  content: '/';
}

.header__divider--large {
  font-size: calc(var(--font-size-xl) * 0.85);
  line-height: var(--font-line-height-xl);
}

/* кнопки для закрытия/раскрытия меню */
.header__toggle {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__controls .header__toggle {
  grid-area: button;
  align-self: center;
  margin-left: 20px;
}

.menu-toggle--close {
  display: none;
}

.header--open .menu-toggle--open {
  display: none;
}

.header--open .menu-toggle--close {
  display: block;
}

/* скпываем крошки, когда меню открыто */
.header--open .header__category,
.header--open .header__title {
  display: none;
}

/* фиксированное меню */
.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header--fixed-show {
  animation-direction: normal;
}

.header--fixed-hide {
  animation-direction: reverse;
  animation-duration: 0.2s;
  animation-timing-function: ease;
}

.header--animating {
  animation-name: fixedHeaderAnimation;
  animation-duration: var(--header-animation-time);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes fixedHeaderAnimation {
  from {
    transform: translateY(-100%);
  }
}

.header:not(.header--fixed)::after {
  opacity: 0;
}

.header:not(.header--fixed) .header__title {
  display: none;
}

.header:not(.header--open)::before {
  opacity: 0;
  visibility: hidden;
}

.header--static .header__toggle {
  display: none;
}

.header:not(.header--open):not(.header--static) .header__menu {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition-delay: 0s, var(--header-animation-time), var(--header-animation-time);
}

@media not all and (min-width: 1366px) {
  .header__category--standalone {
    height: 1.25em;
  }

  .header:not(.header--fixed) .header__category--standalone {
    display: none;
  }
}

@media not all and (min-width: 768px) {
  .header__category:not(.header__category--standalone) {
    display: none;
  }

  .header--fixed .header__title {
    margin-top: 10px;
    flex-basis: 100%;
  }
}

@media all and (min-width: 430px) {
  .header__category.header__category--visible {
    display: flex;
  }
}
