.hotkey {
  min-width: 14px;
  padding: 1px 6px;
  text-align: center;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--letter-spacing);
  border: 1px solid hsl(var(--color-base-text) / 0.3);
  border-radius: 5px;
  opacity: 0.7;
}

@media not all and (width >= 768px) {
  .hotkey {
    display: none;
  }
}

.hotkey--close {
  text-transform: uppercase;
}
