.index-section {
  overflow: hidden;
  padding: 10px;
  column-width: 370px;
  column-gap: 20px;
  line-height: 1.25;
  animation: showIndexSection 0.4s both;
  will-change: transform, opacity;
}

@keyframes showIndexSection {
  from {
    opacity: 0;
    transform: translateY(-1.25em);
  }
}

.index-section__item {
  margin-bottom: 40px;
  display: block;
  page-break-inside: avoid;
  break-inside: avoid;
}

@media (min-width: 768px) {
  .index-section {
    padding: 20px;
  }

  .index-section__item {
    margin-bottom: 22px;
  }
}

@media (min-width: 1366px) {
  .index-section__item {
    margin-bottom: 60px;
  }
}

@media (min-width: 1480px) {
  .index-section__item {
    margin-bottom: 70px;
  }
}
