.index-section {
  --offset: 10px;
  --gutter: 40px;
  overflow: hidden;
  padding: var(--offset);
  column-width: 370px;
  column-gap: 20px;
  line-height: 1.25;
  animation: showIndexSection 0.4s both;
  will-change: transform, opacity;
}

@keyframes showIndexSection {
  from {
    opacity: 0;
    transform: translateY(-1.25em);
  }
}

.index-section__item {
  overflow: hidden;
  padding-bottom: var(--gutter);
  display: block;
  page-break-inside: avoid;
  break-inside: avoid;
}

@media (min-width: 768px) {
  .index-section {
    --offset: 20px;
    --gutter: 22px;
  }
}

@media (min-width: 1366px) {
  .index-section {
    --gutter: 60px;
  }
}

@media (min-width: 1680px) {
  .index-section {
    --gutter: 70px;
  }
}
