@property --stroke-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

.link {
  --stroke-opacity: 0.3;
  --text-color: hsl(var(--color-base-text));
  --stroke-color: hsl(var(--color-base-text) / var(--stroke-opacity));
  --cached-opacity: 0.6;

  color: var(--text-color);
  text-decoration-line: underline;
  text-decoration-thickness: var(--stroke-width, 1px);
  text-decoration-color: var(--stroke-color);
  text-underline-position: auto;
  text-underline-offset: 0.125em;
  transition: --stroke-opacity 0.2s;
}

.link:hover {
  --stroke-opacity: 0.1;
}

.online .link::after {
  display: none;
}

.offline .link::after {
  content: " ";
  display: inline-block;
  height: 0.9em;
  width: 0.9em;
  margin-left: 0.3em;
  vertical-align: middle;
  background-size: 0.9em;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(calc(var(--is-dark-theme-on) * 1));
}

.online .link--cached::after {
  display: none;
}

.offline .link--cached::after {
  background-image: url("/images/assets/cached-link.svg");
  background-repeat: no-repeat;
}

.online .link--non-cached::after {
  display: none;
}

.offline .link--non-cached {
  color: hsla(var(--color-base-text) / var(--cached-opacity));
}

.offline .link--non-cached::after {
  background-image: url("/images/assets/non-cached-link.svg");
  opacity: var(--cached-opacity);
}
