.linked-article {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  flex: 1 1 0%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 12px;
}

.linked-article__icon {
  margin-block-start: 4px;
  flex: 0 0 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.linked-article__main {
  flex: 1 1 8em;
}

.linked-article__link {
  --stroke-color: var(--accent-color);
  display: inline-block;
  vertical-align: top;
  text-underline-offset: 0.2em;
}

.linked-article__code {
  font-family: var(--font-family);
  font-size: var(--font-size-m);
}

.linked-article__link::before {
  content: '';
  position: absolute;
  z-index: 1;
  inset: 0;
}

.linked-article__link:hover {
  text-decoration: none;
}

.linked-article__hotkeys {
  margin-block-start: 6px;
  opacity: 0.6;
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  letter-spacing: 0;
}

.linked-article__hotkey {
  flex: 0 0 auto;
  opacity: 1;
  display: inline-block;
  text-transform: none;
}

.linked-article__plus {
  border: 0;
  padding: 0;
  min-width: 20px;
  display: inline-block;
}

.linked-article--previous {}

.linked-article--next {
  flex-direction: row-reverse;
  text-align: end;
}

@media not all and (min-width: 768px) {
  .linked-article {
    padding: 16px;
    flex-direction: row;
    align-items: center;
    text-align: start;
  }

  .linked-article::before {
    content: '';
    opacity: 0.15;
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 0 10px hsl(var(--color-base-text) / 0.5);
  }

  .linked-article__hotkeys {
    display: none;
  }
}
