@property --stroke-opacity {
  syntax: '<number>';
  inherits: false;
  initial-value: 1;
}

.link {
  --stroke-opacity: 0.3;
  --text-color: hsl(var(--color-base-text));
  --stroke-color: hsl(var(--color-base-text) / var(--stroke-opacity));

  color: var(--text-color);
  text-decoration-line: underline;
  text-decoration-thickness: var(--stroke-width, 1px);
  text-decoration-color: var(--stroke-color);
  text-underline-position: auto;
  text-underline-offset: 0.125em;
  transition: --stroke-opacity 0.2s;
}

.link:hover {
  --stroke-opacity: 0.1;
}
