.logo {
  --ligthness: calc(var(--is-light-theme-on) * 90% + var(--is-dark-theme-on) * 25%);
  --logo-background-color: hsl(0 0% var(--ligthness));
  --image-font-size: 0.9375em;
  --logo-letter-spacing: -0.14em;
  --image-padding: calc(2 / 18.75 * 1em) calc(6 / 18.75 * 1em) 0;
  display: inline-flex;
  white-space: nowrap;
  text-decoration: none;
  font-family: var(--font-family);
  color: inherit;
}

.logo__image {
  align-self: center;
  box-sizing: border-box;
  padding: var(--image-padding);
  display: inline-grid;
  place-items: center;
  background-color: var(--logo-background-color);
  border-radius: 2em;
}

.logo__symbols {
  margin-right: calc(var(--logo-letter-spacing) * -1);
  font-size: var(--image-font-size);
  line-height: 1;
  letter-spacing: var(--logo-letter-spacing);
  text-decoration: none;
}

.logo__text {
  --stroke-width: 2px;
  margin-left: 6px;
  align-self: baseline;
}

.logo__text::first-letter {
  font-feature-settings: 'ss01' on;
}

.logo--color-contrast {
  --ligthness: calc(var(--is-light-theme-on) * 100%);
}

.logo--color-fade {
  --ligthness: calc(var(--is-light-theme-on) * 90% + var(--is-dark-theme-on) * 25%);
}
