.logo {
  --ligthness: calc(var(--is-light-theme-on) * 90% + var(--is-dark-theme-on) * 25%);
  --logo-background-color: hsl(0 0% var(--ligthness));
  --image-font-size: 0.9375em;
  --logo-letter-spacing: -0.14em;
  --image-padding: calc(2 / 18.75 * 1em) calc(6 / 18.75 * 1em) 0;
  display: inline-flex;
  white-space: nowrap;
  text-decoration: none;
  font-family: var(--font-family);
  color: inherit;
}

.logo__image {
  --is-animation: 0;
  align-self: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  box-sizing: border-box;
  padding: var(--image-padding);
  display: inline-grid;
  place-items: center;
  background-color: var(--logo-background-color);
  border-radius: 2em;
  pointer-events: none;
  user-select: none;
}

.logo__image::before {
  --colors:
    var(--color-html),
    var(--color-html),
    var(--color-css),
    var(--color-js),
    var(--color-svg),
    var(--color-tools),
    var(--color-html),
    var(--color-html);
  --parts: 7;
  content: '';
  opacity: var(--is-animation);
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  height: calc(var(--parts) * 100%);
  background-image: linear-gradient(var(--colors));
  transition: opacity 0.5s;
}

.logo__image--animation {
  --is-animation: 1;
}

@keyframes logoAnimation {
  to {
    transform:
      translateY(-100%)
      translateY(calc(100% / (var(--parts) - 1)));
  }
}

.logo__image--animation::before {
  animation: logoAnimation 1.75s linear infinite both;
}

.logo__symbols {
  grid-area: 1 / 1 / -1 / -1;
  margin-right: calc(var(--logo-letter-spacing) * -1);
  font-size: var(--image-font-size);
  line-height: 1;
  letter-spacing: var(--logo-letter-spacing);
  text-decoration: none;
  transition: opacity 0.2s;
  transform: translateZ(0); /* для устранения скачков в Safari */
}

.logo__symbols--main {
  opacity: calc(1 - var(--is-animation));
}

.logo__symbols--search {
  opacity: var(--is-animation);
}

.logo__eye {
  position: relative;
  top: -0.05em;
}

.logo__text {
  --stroke-width: 2px;
  margin-left: 6px;
  align-self: baseline;
  text-underline-offset: 0.2em;
}

.logo__text::first-letter {
  font-feature-settings: 'ss01' on;
}

.logo--color-contrast {
  --ligthness: calc(var(--is-light-theme-on) * 100%);
}

.logo--color-fade {
  --ligthness: calc(var(--is-light-theme-on) * 90% + var(--is-dark-theme-on) * 25%);
}
