.menu-toggle {
  appearance: none;
  margin: 0;
  display: block;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: inherit;
}

.menu-toggle__inner {
  display: flex;
  gap: 10px;
  align-items: center;
  min-height: 45px;
}

.menu-toggle__icon {}

.menu-toggle__icon--open {
  display: flex;
  align-items: center;
  gap: 7px;
}

.menu-toggle__icon--close {
  width: 30px;
  height: 30px;
}

.menu-toggle__dot {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  gap: 7px;
  background-color: currentColor;
  border-radius: 50%;
}

.menu-toggle--open {
  --is-menu-open: 1;
}

.menu-toggle--open .menu-toggle__inner--open,
.menu-toggle:not(.menu-toggle--open) .menu-toggle__inner--close {
  display: none;
}

@media (min-width: 1366px) {
  .menu-toggle__icon--open {
    gap: 10px;
  }

  .menu-toggle__dot {
    width: 8px;
    height: 8px;
  }

  .menu-toggle__icon--close {
    width: 45px;
    height: 45px;
  }
}
