.nav-list {
  --stroke-size: calc(6 / 48 * 1em);
  --transition: 150ms ease-in-out;
  display: grid;
  gap: var(--gap);
}

.nav-list__item {
  position: relative;
  z-index: 0;

  /* padding-top: var(--block-padding);
  padding-bottom: var(--block-padding);
  padding-left: 10px;
  padding-right: 10px; */
}

.nav-list__link {
  display: inline-block;
  vertical-align: top;
  padding-top: var(--block-padding);
  padding-bottom: var(--block-padding);
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: inherit;
}

.nav-list__link::after {
  content: '';
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--accent-color);
  border-radius: var(--stroke-size);
  transition: var(--transition);
}

.nav-list__link-text {
  position: relative;
  display: block;
}

.nav-list__link-text::after {
  content: '';
  position: relative;
  z-index: -1;
  display: block;
  height: var(--stroke-size);
  background-color: var(--accent-color);
  border-radius: 1em;
}

.nav-list__link:hover::after {
  opacity: calc(1 - var(--is-dark-theme-on) * 0.6);
  visibility: visible;
}

.nav-list__link:hover .nav-list__link-text::after {
  opacity: 0;
  transition: var(--transition);
}

@media not all and (min-width: 768px) {
  .nav-list {}
}

@media (min-width: 768px) {
  .nav-list {
    --block-padding: 1px;
    line-height: calc(42 / 36);
  }
}

@media (min-width: 1024px) {
  .nav-list {
    --block-padding: 6px;
    line-height: inherit;
  }
}

@media (min-width: 1680px) {
  .nav-list {
    line-height: 1;
  }
}
