.people-page {
  --offset: 10px;
  min-height: 100vh;
}

.people-page__main {
  padding-block: clamp(var(--offset), 8%, 130px);
}

.people-page__filter {
  z-index: 1;
}

.people-page__list {
  flex: 1 1 0%;
  padding: var(--offset);
}

.people-page__footer {
  position: sticky;
  top: 100vh;
}

@media (min-width: 768px) {
  .people-page {
    --offset: 20px;
  }

  .people-page__main {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: flex-start;
  }

  .people-page__filter {
    position: sticky;
    top: calc(var(--is-header-fixed) * var(--header-height) * 1px + var(--offset));
    flex: 0 0 14em;
    box-sizing: border-box;
    transition: top 0.6s;
    will-change: top;
  }
}
