.person-links-list {
  display: grid;
  border-top: 1px solid var(--color-text);
  border-bottom: 1px solid var(--color-text);
  padding: 20px 0;
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  line-height: 1.47;
  letter-spacing: var(--letter-spacing);
  grid-gap: 10px;
}

.person-links-list__link {
  display: inline-flex;
  align-items: baseline;
  vertical-align: top;
  word-break: break-word;
}

.person-links-list__icon {
  flex-shrink: 0;
}

.person-links-list__icon:nth-of-type(1) {
  margin-right: 12px;
}

.person-links-list__icon:nth-of-type(2) {
  margin-right: 5px;
}

.person-links-list__link--own .person-links-list__icon:nth-of-type(1) {
  margin-right: 3px;
}

.person-links-list__icon .twitter-icon {
  fill: #1d9bf0;
}

@media (width >= 1024px) {
  .person-links-list {
    border: none;
    padding: 0;
  }
}
