.practices > article {
  --stroke-opacity: 0.3;
  --stroke-color: hsl(var(--color-base-text) / var(--stroke-opacity));
  border: 1px solid var(--stroke-color);
  border-radius: 6px;
  margin-block-start: 10px;
}

.practices > article > .article-heading {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: var(--offset);
}

.practices__author-name > * {
  font-family: 'Spot Mono', monospace;
  font-weight: 300;
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-l);
  letter-spacing: -0.05em;
  text-align: left;
}

.practices__content {
  position: relative;
  overflow: hidden;
}

.practices__content::after {
  content: ' ';
  display: block;
  position: relative;
  height: 100px;
  background: linear-gradient(180deg, hsla(var(--color-base-background) / 0) 0%, hsla(var(--color-base-background) / 0.67) 100%);
  border-radius: 8px;
  z-index: 0;
}

.practices__content > .practices__summary {
  height: 110px;
  padding: var(--offset);
  background-color: var(--color-background);
}

.practices__content .practices__toggler {
  appearance: none;
  display: block;
  position: absolute;
  top: 0;
  margin-block-start: 170px;
  justify-self: start;
  font-size: var(--font-size-m, 100%);
  font-family: var(--font-family);
  padding: 4px 15px;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 0.1);
  border: none;
  border-radius: 5px;
  background-color: var(--color-background);
  z-index: 1;
  cursor: pointer;
}

.practices__content--open {
  overflow: unset;
}

.practices__content--open::after {
  display: none;
}

.practices__content--open > .practices__summary {
  height: auto;
  grid-template-rows: unset;
  overflow: unset;
}

.practices__content--open .practices__toggler {
  position: sticky;
  grid-row-start: unset;
  bottom: 1em;
  margin-block-start: unset;
}

.practices__content--short > .practices__summary {
  height: auto;
}

.practices__content--short::after {
  height: unset;
}

@media (min-width: 768px) {
  .practices > article {
    margin-block-start: 14px;
  }
}

@media (min-width: 1024px) {
  .practices > article {
    margin-block-start: 16px;
  }

  .practices__content > .practices__summary {
    grid-gap: 20px;
  }
}

/* @media (min-width: 1680px) {
  .practices > article {
    margin-block-start: 60px;
  }
} */
