.search {
  position: relative;
  display: grid;
  font-family: var(--font-family);
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-l);
  letter-spacing: var(--letter-spacing);
}

.search__input,
.search__controls {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.search__input {
  margin: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: var(--search-input-height, 1.25em);
  border: 0;
  padding: 0 10px;
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 6px;
  background-color: hsl(0 0% 77% / 0.33);
}

.search__control {
  position: relative;
  display: grid;
}

.search__control > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.search__input::placeholder {
  opacity: 0.6;
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
}

.search__key {
  margin: 0 10px;
  place-self: center end;
  pointer-events: none;
}

.search__input:focus ~ .search__key--activate {
  visibility: hidden;
}

.search__input:not(:focus) ~ .search__key--enter {
  visibility: hidden;
}

.search__output:not(:empty) + .search__placeholder {
  display: none;
}

.search__suggestion {
  --lightness: calc(100% - var(--is-dark-theme-on) * 80%);
  --background-opacity: 0.96;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  letter-spacing: normal;
  background-color: hsl(0 0% var(--lightness) / var(--background-opacity));
  box-shadow: 0 4px 4px rgb(0 0 0 / 0.25);
  border-radius: 6px;
  transition: 0.4s;
}

@supports (backdrop-filter: blur(1px)) {
  .search__suggestion {
    --background-opacity: 0.66;
    backdrop-filter: blur(15px);
  }
}

.search__suggestion--hide {
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5em);
}

.search__suggestion-content {
  position: relative;
  overflow: auto;
  box-sizing: border-box;
  padding: 5px;
  max-height: calc(100vh - 120px);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

.search__full-link {
  margin: 5px auto;
  display: block;
  width: max-content;
  padding: 5px;
  font-size: var(--font-size-s);
  line-height: var(--font-line-height-s);
  font-family: var(--font-family);
  letter-spacing: normal;
}

@media not all and (min-width: 1024px) {
  .search__suggestion-key {
    display: none;
  }

  .search__suggestion-footer {
    margin-top: 20px;
  }
}
