.search-hit {
  position: relative;
}

.search-hit__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: var(--font-size-l);
  line-height: 1.15;
  letter-spacing: var(--letter-spacing);
  font-family: var(--font-family);
  font-weight: normal;
}

.search-hit__link {
  --stroke-color: var(--accent-color);
  color: inherit;
  text-decoration: none;

  /* в Chrome у иконки линия подчёркивания рисуется ниже основной, поэтому text-decoration заменён на градиент */
  background-image: linear-gradient(90deg, var(--accent-color), var(--accent-color));
  background-repeat: repeat-x;
  background-size: 100% 2px;
  background-position: 0 100%;
}

.search-hit__link::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.search-hit__link:hover {
  color: var(--accent-color);
}

.search-hit__link-code {
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-l);
  letter-spacing: var(--letter-spacing);
  font-family: var(--font-family);
}

.search-hit__text-code {
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
  letter-spacing: var(--letter-spacing);
  font-family: var(--font-family);
}

.search-hit__edit {
  font-family: var(--font-family);
  font-size: var(--font-size-l);
}

.search-hit__edit::before {
  content: '✎';
}

.search-hit__summary {}

.search-hit__marked {
  background-color: hsl(44deg 100% 59%);
}

@media (min-width: 1024px) {
  .search-hit__title {
    margin-bottom: 14px;
  }
}
