.search {
  display: grid;
}

.search__input,
.search__controls {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.search__input {
  margin: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: var(--search-input-height, 1.25em);
  border: 0;
  padding: 0 10px;
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 6px;
  background-color: hsl(0 0% 77% / 0.33);
}

.search__input::placeholder {
  opacity: 0.6;
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
}

.search__output {
  grid-area: search-output;
}
