.snow-btn {
  position: relative;
}

.snow-btn__text {
  --bg-lightness: calc(var(--is-light-theme-on) * 87% + var(--is-dark-theme-on) * 20%);
  opacity: 0.7;
  padding: calc(0.4em + 2px) calc(0.67em + 2px);
  border: none;
  border-radius: 2em;
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  line-height: 1;
  background-color: hsl(0 0% var(--bg-lightness));
  outline: 1px solid hsl(0 0% var(--bg-lightness));
  outline-offset: -2px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.snow-btn__control:focus + .snow-btn__text,
.snow-btn__control:hover + .snow-btn__text {
  opacity: 1;
}

.snow-btn__control:checked + .snow-btn__text {
  opacity: 1;
  outline-color: var(--color-background);
}

.snow-btn__control {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 0;
  background: none;
  cursor: pointer;
}

@media not all and (min-width: 768px) {
  .snow-btn {
    margin-top: 1em;
  }
}
