.social-card {
  --offset: 30px;
  background-color: var(--accent-color);
  height: 100vh;
}

.social-card__header {
}

.social-card__header-inner {
  padding: 20px 30px 0;
  background-color: var(--accent-color);
}

.social-card__title {
  box-sizing: border-box;
  padding-top: clamp(20px, 8%, 130px);
  margin: 0;
  font-size: calc(var(--font-size-xl) * 2);
  line-height: calc(var(--font-line-height-xl) * 2);
  font-weight: normal;
}

.social-card__title-code {
  font-size: calc(var(--font-size-xl) * 2);
  line-height: calc(var(--font-line-height-xl) * 2);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

.social-card__category {
  margin-top: 0;
  margin-bottom: 6px;
  display: flex;
  gap: 4px;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 22px;
  letter-spacing: var(--letter-spacing);
}

.social-card__category-divider {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .social-card__category {
    display: none;
  }
}

.social-card__description {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: calc(var(--font-size-m, 100%) * 1.75);
  line-height: calc(var(--font-line-height-m, 1.15) * 2);
}

.social-card__read-time {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 1.12em;
}
