.suggestion-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 0.75ch;
  row-gap: 0.5ch;
  font-size: calc(var(--font-size-m) * 1.25);
  line-height: 1.35;
}

.suggestion-list__item {
  flex: 0 1 auto;
}

.suggestion-list__item:not(:last-child)::after {
  content: ',';
}

.suggestion-list__code {
  font-size: calc(var(--font-size-m) * 1.17);
  line-height: 1;
  letter-spacing: var(--letter-spacing);
  font-family: var(--font-family);
}

.suggestion-list__link {
  --stroke-width: 2px;
  --stroke-color: var(--accent-color);
  text-underline-position: auto;
  text-underline-offset: 0.2em;
  color: inherit;
}
