:root {
  --color-orange: 25 100% 59%;
  --color-blue: 209 100% 59%;
  --color-yellow: 49 100% 58%;
  --color-pink: 346 81% 78%;
  --color-green: 122 78% 58%;
}

.theme {}

.theme_font_text {
  --font-family: 'Graphik', sans-serif;
  --font-size-s: 15px;
  --font-line-height-s: 20px;
  --font-size-m: 24px;
  --font-line-height-m: 30px;
  --font-size-l: 36px;
  --font-line-height-l: 42px;
  --font-size-xl: 48px;
  --font-line-height-xl: 60px;
  --font-size-xxl: 60px;
  --font-line-height-xxl: 60px;
}

.theme_font_code {
  --font-family: 'Spot Mono', monospace;
  --letter-spacing: -0.04em;
  --font-size-s: 18px;
  --font-line-height-s: 18px;
  --font-size-m: 28px;
  --font-line-height-m: 30px;
  --font-size-l: 42px;
  --font-line-height-l: 42px;
  --font-size-xl: 60px;
  --font-line-height-xl: 60px;
  --font-size-xxl: 72px;
  --font-line-height-xxl: 60px;
}

.theme_color_light {
  --color-text: #000;
  --color-background: #fff;
  --color-html: hsl(var(--color-alpha));
  --color-css: hsl(var(--color-beta));
  --color-js: hsl(var(--color-gamma));
  --color-svg: hsl(var(--color-delta));
  --color-tools: hsl(var(--color-epsilon));
}

.theme_color_dark {
  --color-text: #fff;
  --color-background: #000;
  --color-html: hsl(var(--color-alpha) / 0.4);
  --color-css: hsl(var(--color-beta) / 0.4);
  --color-js: hsl(var(--color-gamma) / 0.4);
  --color-svg: hsl(var(--color-delta) / 0.4);
  --color-tools: hsl(var(--color-epsilon) / 0.4);
}
