.vote {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.vote__label {
  position: relative;
}

.vote__input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.vote__control {
  box-sizing: border-box;
  width: 109px;
  height: 44px;
  display: grid;
  place-items: center;
  border: 3px solid var(--vote-color);
  border-radius: 6px;
  transition: 125ms background-color;
}

.vote__control--up {
  --vote-color: hsl(122, 78%, 58%);
}

.vote__control--down {
  --vote-color: hsl(346, 81%, 78%);
}

.vote__input:checked + .vote__control {
  background-color: var(--vote-color);
}
