/* Base */

.base {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: var(--basic-white);
}

/* Body */

.base__body {
  margin: 0;
  height: 100%;
}

/* Content container */

.base__container {
  width: 100%;
  max-width: 1440px;
  padding: 0 30px;
}

.base__container iframe {
  max-width: 100%;
}

/* fix size picture https://new.y-doka.site/js/articles/async-in-js/ */
article img {
  max-width: 100%;
}
