/* Index */

.index {
  min-height: 100%;
  display: grid;
  grid-template-rows:
    min-content
    1fr
    min-content;
  background-image: url("../../images/doka.svg");
  background-repeat: no-repeat;
  background-position: right 30px bottom;
  background-size: 114px auto;
}

@media (min-width: 500px) {
  .index {
    background-size: auto 30vh;
  }
}

/* Content */

.index__content {
  display: grid;
  align-items: center;
  justify-content: stretch;
}
