/* базовая палитра цветов */
:root {
  color-scheme: light dark;

  --color-light: 0 0% 100%;
  --color-dark: 0 0% 0%;

  --color-orange: 25 100% 59%;
  --color-blue: 209 100% 59%;
  --color-yellow: 49 100% 58%;
  --color-green: 122 78% 58%;
  --color-pink: 346 81% 78%;
  --color-violet: 276 100% 72%;

  --color-base-html: hsl(var(--color-orange));
  --color-base-css: hsl(var(--color-blue));
  --color-base-js: hsl(var(--color-yellow));
  --color-base-tools: hsl(var(--color-green));
  --color-base-recipes: hsl(var(--color-violet));
  --color-base-svg: hsl(var(--color-pink));
}
