/* базовая палитра цветов */
:root {
  color-scheme: light dark;

  --color-light: 0 0% 100%;
  --color-dark: 220 7% 17%;
  --color-black: 0 0% 0%;

  --color-green: 68 100% 46%;

  --color-base-dream-job: hsl(var(--color-green));
}
