@import 'code-dark-theme.css';

/* настройки для тёмной темы */
:root {
  color-scheme: dark;

  --is-light-theme-on: 0;
  --is-dark-theme-on: 1;

  --color-base-text: var(--color-light);
  --color-base-background: var(--color-dark);

  --color-text: hsl(var(--color-light));
  --color-background: hsl(var(--color-dark));
  --color-fade: hsl(220 7% 25%);

  --color-dream-job: hsl(68 100% 24%);
}
