/*
  Авторские права на шрифт Graphik во всех начертаниях принадлежат ООО «Тайп Тудэй».
  Шрифт предоставлен Доке по лицензии: https://type.today/ru/license/today/web
*/

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/graphik/graphik-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/graphik/graphik-regular-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/graphik/graphik-medium.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: 'Spot Mono';
  src: url('/fonts/spot-mono/spot-mono-light.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}
