/* Variables */

html {
  --color-basic-black: #000000;
  --color-basic-darkest: #1a1a1a;
  --color-basic-dark: #373a3c;
  --color-basic-regular: #cacaca;
  --color-basic-light: #f8f8f8;
  --color-basic-white: #ffffff;

  --color-blue-dark: #002757;
  --color-blue-regular: #0054b9;
  --color-blue-light: #0882ff;
}
