{% from "blocks/header.njk" import header with context %}
{% from "blocks/footer.njk" import footer with context %}

{% set isLogoContrastColor = hasCategory %}

{{ header(
  title=title,
  link=permalink,
  isLogoContrastColor=isLogoContrastColor
) }}

<div class="container">
  <ul class="article-indexes-list base-list all-articles">
    {% for sectionIndex in collections.articleIndexes %}
      {% set category = sectionIndex.fileSlug %}

      <li class="article-indexes-list__item">
        <h3 class="article-indexes-list__title" style="--accent-color: var(--color-base-{{ category }})">
          <a class="article-indexes-list__link" href="/{{ category }}/">
            {{ sectionIndex.data.name }}
          </a>
        </h3>
        <ul class="index-group-list base-list">
          {% for article in collections[category] %}
            <li class="index-group-list__item">
              <a class="index-group-list__link link" href="/{{ category }}/{{ article.fileSlug }}/">
                {{ article.data.title | descriptionMarkdown | safe }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>

{{ footer() }}
