{% include "blocks/aside.njk" %}

<main>
  <div class="aside-page__content base__container">

    <article>
      {% if doc.data.cover %}
        <picture>
          {% if doc.data.cover.mobile %}
          <source srcset="{{ doc.data.cover.mobile }}" media="(max-width: 425px)">
          {% endif%}
          <img src="{{ doc.data.cover.desktop }}" width="900" height="537" alt="{{ doc.data.cover.alt }}">
        </picture>
      {% endif%}

      <h1>{{ title }}</h1>
      <a href="{% contentRepLink %}/blob/main{{ docPath }}" target="_blank">
        Отредактировать на GitHub
      </a>

      {% if updatedAt %}
        <p>
          Отредактировано:
          <time data-relative-time datetime="{{ updatedAt | isoDate }}">
            {{ updatedAt | ruDate }}
          </time>
        </p>
      {% endif %}

      {% if doc.data.tags | hasTag('placeholder') %}
        {% include "placeholder.njk" %}
      {% endif %}

      {{ doc.templateContent | safe }}

    </article>

    {% include "practices.njk" %}

    {% include "contributors.njk" %}

    {% include "feedback-form.njk" %}

  </div>
</main>
