<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.url }}">
  <title>{{ meta.title }}</title>
  <subtitle>{{ meta.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(meta.url) }}" rel="self"/>
  <link href="{{ meta.url }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ meta.url }}</id>
  <author>
    <name>{{ meta.author.name }}</name>
    <email>{{ meta.author.email }}</email>
  </author>
  {%- for post in collections.posts %}
  <entry>
    <title>{{ post.title }}</title>
    <link href="{{ post.url }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ post.url }}</id>
    <content xml:lang="{{ meta.language }}" type="html">{{ post.summary | htmlToAbsoluteUrls(post.url) }}</content>
  </entry>
  {%- endfor %}
</feed>
