{% from "blocks/header.njk" import header with context %}
{% from "blocks/footer.njk" import footer with context %}

{% set isLogoContrastColor = hasCategory %}

{{ header(
  isLogoContrastColor=isLogoContrastColor,
  isMainPage=true
) }}

  <div>
    <main class="landing doc__main" style="--title-size: clamp(35px, 9.5vw, 168px);">
      <header class="article__header">
        <div class="article__header-inner doc__wrapper">
          <p class="article__category">
            Спецпроекты
            <span class="article__category-divider" aria-hidden="true">/</span>
          </p>
          <h1 class="article__title" itemprop="headline">Трудоуствойство</h1>
          <p class="article__description">Как это работает?</p>
          <p class="article__starter">Спецпроект Доки для тех, кто хочет найти работу в IT, но не знает, с чего начать.
            Мы решили заглянуть с другой стороны и показать, как видят процесс найма те, кто нанимает.</p>
        </div>
      </header>
      <div class="landing__inner">
        <article class="landing__row landing__row--market preview">
          <h2 class="preview__title">
            <a class="preview__title-link link" href="/dream-job/market/">Рынок труда</a>
          </h2>
          <div class="preview__img-block font-theme--code">
            <img src="/images/market.svg" alt="" class="preview__img">
          </div>
          <p class="preview__description">Что общего между IT и Древним Египтом?</p>
        </article>
        <article class="landing__row landing__row--steps preview disabled">
          <h2 class="preview__title">
            <span>Этапы найма</span>
          </h2>
          <div class="preview__img-block font-theme--code">
            <img src="" alt="" class="preview__img">
          </div>
          <p class="preview__description">Что ждёт после отправки резюме? Можно ли избежать лайвкодинга или это обязательно произойдёт? Где заставляют решать задачи на листочке?</p>
        </article>
        <article class="landing__row landing__row--cv preview disabled">
          <h2 class="preview__title">
            <span>Резюме</span>
          </h2>
          <div class="preview__img-block font-theme--code">
            <img src="" alt="" class="preview__img">
          </div>
          <p class="preview__description">Правда ли «резюме должно вмещаться на одну страницу» и что нужно писать по хронологии? Мы узнали, что на этот счёт думают эйчары.</p>
        </article>
        <article class="landing__row landing__row--portfolio preview disabled">
          <h2 class="preview__title">
            <span>Портфолио</span>
          </h2>
          <div class="preview__img-block font-theme--code">
            <img src="" alt="" class="preview__img">
          </div>
          <p class="preview__description">Портфолио это для художников, разве нет? Нет!</p>
        </article>
        <article class="landing__row landing__row--letter preview disabled">
          <h2 class="preview__title">
           <span>Мотивационное письмо</span>
          </h2>
          <div class="preview__img-block font-theme--code">
            <img src="" alt="" class="preview__img">
          </div>
          <p class="preview__description">Но ведь у меня в резюме всё написано…</p>
        </article>
        <article class="landing__row landing__row--interview preview disabled">
          <h2 class="preview__title">
            <span>Собеседование</span>
          </h2>
          <div class="preview__img-block font-theme--code">
            <img src="" alt="" class="preview__img">
          </div>
          <p class="preview__description">Час икс! Волноваться — это нормально.</p>
        </article>
        <article class="landing__row landing__row--acclimate preview disabled">
          <h2 class="preview__title">
            <span>Акклиматизация</span>
          </h2>
          <div class="preview__img-block font-theme--code">
            <img src="" alt="" class="preview__img">
          </div>
          <p class="preview__description">Первый день в офисе. Что делать? Нести ли кружку?</p>
        </article>
      </div>
    </main>
  </div>

{{ footer() }}
