{% from "blocks/header.njk" import header with context %}
{% from "blocks/footer.njk" import footer with context %}
{% from "blocks/person.njk" import person %}

{% macro peopleGridItem(data) %}
  {%- set dataCategories -%}
    {% set joinSymbol = joiner() %}
    {% for category, count in data.stat -%}
      {{ joinSymbol() }}{{ category }}
    {%- endfor %}
  {%- endset -%}

  <li class="person-grid__item" data-categories="{{ dataCategories }}">
    {{ person(data) }}
  </li>
{% endmacro %}

<div class="people-page">
  {{ header(title=title) }}

  <main class="people-page__main">
    <form class="people-page__filter" autocomplete="off">
      <label class="tag-filter tag-filter--contrast">
        <input class="tag-filter__control" type="checkbox" name="category" value="" checked>
        <span class="tag-filter__text">
          Все
        </span>
      </label>
      {% for category in collections.articleIndexes %}
        <label class="tag-filter" style="--accent-color: var(--color-{{ category.fileSlug }})">
          <input class="tag-filter__control" type="checkbox" name="category" value="{{ category.fileSlug }}">
          <span class="tag-filter__text">
            {{ category.data.name }}
          </span>
        </label>
      {% endfor %}
    </form>

    <ol class="people-page__list person-grid base-list">
      {% for personDataItem in peopleData %}
        {{ peopleGridItem(personDataItem) }}
      {% endfor %}
    </ol>
  </main>

  {{ footer(class="people-page__footer") }}
</div>

