{% from "blocks/header.njk" import header with context %}
{% from "blocks/footer.njk" import footer with context %}
{% from "blocks/person-avatar.njk" import personAvatar %}

<div class="person-page">
  {{ header(
    category=categoryName,
    title=name
  ) }}

  <main class="person-page__main">
    {{ personAvatar(
      class = 'person-page__avatar',
      photoURL = photo,
      name = name,
      category = mostContributedCategory
    ) }}

    <div class="person-page__meta">
      <ul>
        <li>
          <a class="link" href="{{ url }}">{{ personId }}</a>
        </li>
        {% if contributionStat.issues > 0 %}
          <li>
            <a class="link" href="{{ issuesLink }}">Issues: {{ contributionStat.issues }}</a>
          </li>
        {% endif %}
        {% if contributionStat.pr > 0 %}
          <li>
            <a class="link" href="{{ pullRequestsLink }}">Pull requests: {{ contributionStat.pr }}</a>
          </li>
        {% endif %}
      </ul>
    </div>

    <div class="person-page__header">
      <h1 class="person-page__title">
        {{ name }}
      </h1>
      {% if person.templateContent %}
        <div class="person-page__description content">
          {{ person.templateContent | safe }}
        </div>
      {% endif %}
    </div>

    <div class="person-page__articles">
      {% for category, articlesByRole in articlesIndex %}
        <section class="person-page__group articles-group articles-group--accent articles-group--title-static" style="--accent-color: var(--color-{{ category }})">
          <h2 class="articles-group__title">
            {{ articleIndexesMap[category].data.name }}
          </h2>
          {% for personRole, articles in articlesByRole %}
            <section class="articles-group__section">
              <h3 class="articles-group__sub-title font-theme font-theme--code">{{ personRole }}</h3>
              <ul class="articles-group__list base-list">
                {% for article in articles %}
                  <li>
                    <a class="articles-group__link link" href="/{{ category }}/{{ article.fileSlug }}/">
                      {{ article.data.title | descriptionMarkdown | safe }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </section>
          {% endfor %}
        </section>
      {% endfor %}
    </div>

   {{ footer(class="person-page__footer") }}
  </main>

</div>

