<!DOCTYPE html>
<html class="base font-theme" lang="{{ meta.lang }}" itemscope itemtype="https://schema.org/{{ pageType }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="../styles/index.sc.css">
    <link rel="stylesheet" href="../styles/dark-theme.css" media="(prefers-color-scheme: dark)">
  </head>
  <body class="base__body {{ bodyClass }}">

    {% from "blocks/logo.njk" import logo %}

    {% set isLogoContrastColor = hasCategory %}

    <div class="index-block" style="--accent-color: var(--color-{{ category }})">
      <main style="display:grid;grid-template-column:1200px 1024px;grid-gap:24px;grid-auto-rows:1024px;">
        {% from "blocks/social-card.njk" import socialCard %}
        {{ socialCard(category, categoryName, cover, true) }}
      </main>
    </div>

  </body>
</html>
