---
title: Оглавление раздела «Статьи» про HTML
layout: navigation.njk
permalink: /html/articles/index.html
---
{% if collections.html | length %}
<section>
  {% include "collections/html-articles-list.njk" %}
  <p>
    <a href="/html">Больше статей про HTML</a>
  </p>
  <p>
    <a href="/all">К полному оглавлению</a>
  </p>
</section>
{% endif %}
