---
title: Оглавление раздела «Статьи» про JavaScript
layout: navigation.njk
permalink: /js/articles/index.html
---
{% if collections.js | length %}
<section>
  {% include "collections/js-articles-list.njk" %}
  <p>
    <a href="/js">Больше статей про JavaScript</a>
  </p>
  <p>
    <a href="/all">К полному оглавлению</a>
  </p>
</section>
{% endif %}
