---
title: Дока. Все статьи
layout: base.njk
permalink: all/index.html
---
<!-- table of content -->

<div class="toc">
  <header class="toc__header header">
    <a href="/">
      {% include "ui/logo.njk" %}
    </a>
  </header>

  {% if collections.html | length %}
  <section class="toc__block">
    <h2>HTML</h2>
    {% include "collections/htmlArticlesList.njk" %}
    {% include "collections/htmlDokaList.njk" %}
  </section>
  {% endif %}

  {% if collections.css | length %}
  <section class="toc__block">
    <h2>CSS</h2>
    {% include "collections/cssArticlesList.njk" %}
    {% include "collections/cssDokaList.njk" %}
  </section>
  {% endif %}

  {% if collections.js | length %}
  <section class="toc__block">
    <h2>JavaScript</h2>
    {% include "collections/jsArticlesList.njk" %}
    {% include "collections/jsDokaList.njk" %}
  </section>
  {% endif %}

  {% if collections.tools | length %}
  <section class="toc__block">
    <h2>Инструменты</h2>
    {% include "collections/toolsArticlesList.njk" %}
    {% include "collections/toolsDokaList.njk" %}
  </section>
  {% endif %}

  {% include "footer.njk" %}
</div>
