---
title: Дока
layout: base.njk
permalink: index.html
---

<div class="index">
  <header class="index__header header">
    {% include "ui/logo.njk" %}
    <a class="header__link" href="">Все статьи</a>
  </header>

  <main class="index__content">
    <div class="search">
      <div class="search__topics">
        <button class="search__button" type="button">HTML</button>
        <button class="search__button" type="button">CSS</button>
        <button class="search__button" type="button">JS</button>
      </div>
      <input class="search__input"
        type="text"
        placeholder="Поиск…"
        autofocus>
    </div>
  </main>

  {% include "footer.njk" %}
</div>
