---
title: Дока
layout: page.njk
permalink: index.html
---

<div class="index">
  <header class="index__header header">
    <img class="header__logo"
      src="images/logo.svg"
      width="96" height="30"
      alt="Дока (beta)">
    <a class="header__link" href="">Все статьи</a>
  </header>

  <main class="index__content">
    <div class="search">
      <div class="search__topics">
        <button class="search__button" type="button">HTML</button>
        <button class="search__button" type="button">CSS</button>
        <button class="search__button" type="button">JS</button>
      </div>
      <input class="search__input"
        type="text"
        placeholder="Поиск…"
        autofocus>
    </div>
  </main>

  <footer class="index__footer footer">
    <p>
      <a class="footer__link" href="">О проекте</a>
    </p>
    <p>
      <a class="footer__link" href="">
        Присоединяйся<br class="footer__break">
        к нам на GitHub
      </a>
    </p>
  </footer>
</div>
