---
title: Дока
layout: base.njk
permalink: index.html
---

<div class="index">
  <header class="index__header header">
    {% include "ui/logo.njk" %}
    <a class="header__link" href="/all">Все статьи</a>
  </header>

  <main class="index__content">
    {% include "search.njk" %}
  </main>

  {% include "footer.njk" %}
</div>
