{% if collections.css | length %}
{% if page.url !== '/all/'%}<details><summary>{% endif %}
{% if page.url === '/all/'%}<h2>{% endif %}
CSS
{% if page.url !== '/all/'%}</summary>{% endif %}
{% if page.url === '/all/'%}</h2>{% endif %}
<ul>
  {% for post in collections.css %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
  {% endfor %}
</ul>
{% if page.url !== '/all/'%}</details>{% endif %}
{% endif %}
