{% if collections.jsDoka | length %}
  <ul>
    {% for post in collections.jsDoka %}
      {% if post.data.title %}
      <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
