<script async src="https://www.googletagmanager.com/gtag/js?id=G-GH8FX28ET0"></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag(){dataLayer.push(arguments)}
  gtag('js', new Date())
  gtag('config', 'G-GH8FX28ET0')
</script>
