<aside class="aside">

  {% include "blocks/header.njk" %}

  <nav class="aside__nav">
    {% include "collections.njk" %}
  </nav>

  <div class="aside__footer">
    {% include "blocks/footer.njk" %}
    <button class="aside__arrow-btn" type="button" aria-label="Скрыть навигацию"></button>
  </div>
</aside>
