{% if baseline.versions %}
  <div class="wdi-browser-compat">
    <div class="wdi-browser-compat__items">
      {{ baseline.status }}
      {{ baseline.date }}
      {{ baseline.versions }}

      {% for group in baseline.groups %}
        {{ group.name }}

        <doka-baseline
          groupId="{{ group.id }}"
          versionsInfo="{{ baseline.versions }}"
          dateInfo="{{ baseline.date }}"
          statusInfo="{{ baseline.status }}"
        >
        </doka-baseline>
      {% endfor %}
    </div>
  </div>
{% endif %}
