{% if baseline.groupIds %}
  <div class="wdi-browser-compat">
    <div class="wdi-browser-compat__items">
      {% for groupId in baseline.groupIds %}
        <doka-baseline groupId="{{ groupId }}"></doka-baseline>
      {% endfor %}
    </div>
  </div>
{% endif %}