<div class="changelog">
  <h2 class="visually-hidden">Новые статьи</h2>

  <ul class="changelog-list">
    <li class="changelog-list__item">
      <div class="changelog-list__link changelog-item">
        <time datetime="0000000" class="changelog-item__time font-theme--code">22 апреля</time>
        <a href="#" class="changelog-item__title link">Распознавание речи</a>
        <a href="#" class="changelog-item__author font-theme--code link">Татьяна Фокина</a>
      </div>
    </li>
    <li class="changelog-list__item">
      <div class="changelog-list__link changelog-item">
        <time datetime="0000000" class="changelog-item__time font-theme--code">10 апреля</time>
        <a href="#" class="changelog-item__title link"><code>sv, lv, dv</code></a>
        <a href="#" class="changelog-item__author font-theme--code link">Александр Мосякин</a>
      </div>
    </li>
    <li class="changelog-list__item">
      <div class="changelog-list__link changelog-item">
        <time datetime="0000000" class="changelog-item__time font-theme--code">04 апреля</time>
        <a href="#" class="changelog-item__title link">Доступное имя и описание</a>
        <a href="#" class="changelog-item__author font-theme--code link">Марианна Минич</a>
      </div>
    </li>
    <li class="changelog-list__item">
      <div class="changelog-list__link changelog-item">
        <time datetime="0000000" class="changelog-item__time font-theme--code">01 апреля</time>
        <a href="#" class="changelog-item__title link">Очень выразительный React: самые простые компоненты</a>
        <a href="#" class="changelog-item__author font-theme--code link">Полина Гуртовая</a>
      </div>
    </li>
    <li class="changelog-list__item">
      <div class="changelog-list__link changelog-item">
        <time datetime="0000000" class="changelog-item__time font-theme--code">30 марта</time>
        <a href="#" class="changelog-item__title link"><code>.closest()</code></a>
        <a href="#" class="changelog-item__author font-theme--code link">Viktar Nezhbart</a>
      </div>
    </li>
  </ul>
  <div class="changelog-footer">
    <p class="changelog-footer__item">Новые материалы в <a href="https://github.com/doka-guide/content/blob/main/CHANGELOG.md" class="link changelog-footer__link">ченджлоге</a></p>
    <p class="changelog-footer__item">Станьте автором! Выберите тему в 🔥 <a href="https://github.com/doka-guide/content/milestone/22" class="link changelog-footer__link">Бэклоге</a></p>
  </div>
</div>
