<div class="cookie-notification notification" hidden>
  <div class="notification__content">
    Мы используем куки для аналитики
  </div>
  <button class="notification__button button" type="button">
    Хорошо
  </button>
</div>
