{% macro featuredArticle(article) %}
  {% set hasImage = article.cover %}

  <article class="featured-article" style="--accent-color: var(--color-{{ article.section }})">
    {% if hasImage %}
      <img class="featured-article__image" src="{{ article.link }}/{{ article.cover.mobile }}" alt="">
    {% endif %}
    <h3 class="featured-article__title">
      <a class="featured-article__link link" href="{{ article.link }}">
        {{ article.title | titleMarkdown | safe }}
      </a>
    </h3>
    {% if ((not hasImage) and article.description) %}
      <p class="featured-article__description">
        {{ article.description }}
      </p>
    {% endif %}
  </article>
{% endmacro %}
