{% macro featuredArticle(article, class, isLazyLoading=false) %}
  {% set hasImage = article.cover %}

  <article class="featured-article {{ class if class }}" style="--accent-color: var(--color-{{ article.section }})">
    {% if hasImage %}
      <picture class="featured-article__image-wrapper">
        <img
          class="featured-article__image"
          src="{{ article.imageLink }}"
          {% if isLazyLoading %}loading="lazy"{% endif %}
          alt="Иллюстрация к статье “{{ article.title }}”"
          aria-hidden="true"
        >
      </picture>
    {% endif %}
    <h3 class="featured-article__title">
      <a class="featured-article__link link" href="{{ article.link }}">
        {{ article.title | descriptionMarkdown | safe }}
      </a>
    </h3>
    {% if ((not hasImage) and article.description) %}
      <p class="featured-article__description">
        {{ article.description | descriptionMarkdown | safe }}
      </p>
    {% endif %}
  </article>
{% endmacro %}
