{% macro footer(class, tag = 'footer') %}
  <footer class="footer {{ class if class }}">
    <fieldset class="footer__theme-toggle">
      <legend class="visually-hidden">Тема:</legend>
      <span class="footer__theme-toggle-label" aria-hidden="true">Тема:</span>
      {% include "blocks/theme-toggle.njk" %}
    </fieldset>
    <div class="footer__lists">
      <ul class="footer__list footer-list footer__list_social font-theme font-theme--code base-list">
        <li class="footer-list__item">
          <a class="footer-list__link footer-list__link_social link" href="https://www.youtube.com/@doka-guide">
            <svg aria-hidden="true" class="footer-list__icon footer-list__icon--invertible" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 19 14" width="19" height="14">
              <path fill="#000" fill-rule="evenodd" d="M18.6031 2.43813c-.2185-.81747-.8623-1.461255-1.6797-1.679702C15.4415.361328 9.5.361328 9.5.361328s-5.94146 0-7.42335.3971C1.25933.976875.615442 1.62066.396942 2.43813 3.1e-7 3.91987 0 7.01143 0 7.01143s3.1e-7 3.09147.396942 4.57307c.2185.8175.862388 1.4614 1.679708 1.6799 1.48189.3969 7.42335.3969 7.42335.3969s5.9415 0 7.4234-.3969c.8174-.2185 1.4612-.8624 1.6797-1.6799C19 10.1029 19 7.01143 19 7.01143s0-3.09156-.3969-4.5733ZM7.59989 9.86149V4.16138l4.93631 2.85005-4.93631 2.85006Z" clip-rule="evenodd"/>
            </svg>
            <span class="visually-hidden">YouTube</span>
          </a>
        </li>
        <li class="footer-list__item">
          <a class="footer-list__link footer-list__link_social link" href="https://t.me/doka_guide">
            <svg aria-hidden="true" class="footer-list__icon footer-list__icon--invertible" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 17" width="18" height="17">
              <path fill="#000" d="M14.2812 15.5523c.2041.0182.4076-.0416.5695-.1673s.2702-.308.3031-.5103l2.8438-13.60292c.0081-.08767-.0043-.17604-.0364-.25804-.0321-.081997-.0829-.155355-.1484-.214212-.114-.108125-.2639-.170288-.4209-.174528-.0548 0-5.7115 2.09091-16.970301 6.27274-.127057.04053-.237183.12187-.31329.23139-.0761071.10952-.11394078.2411-.10763026.37432.00716485.12439.05384586.24324.13324626.33926.0794.09602.187376.16419.308207.19459L4.54867 9.31033 6.20155 14.269c.04319.1351.13029.2519.24747.3319.11718.08.25772.1185.39931.1095.07663-.0002.15243-.0158.22295-.0458.07052-.0299.13434-.0737.1877-.1287l2.33046-2.2175 4.19896 3.0799c.1463.0971.3172.1505.4928.154Zm-7.50473-2.505L5.53424 8.94074C11.5024 5.14219 14.507 3.24292 14.5481 3.24292c.154 0 .2361 0 .2361.16426.0035.02039.0035.04121 0 .0616 0 0-2.5768 2.36126-7.72028 6.98112l-.28745 2.5974Z"/>
            </svg>
            <span class="visually-hidden">Telegram</span>
          </a>
        </li>
        <li class="footer-list__item">
          <a class="footer-list__link footer-list__link_social link" href="https://x.com/doka_guide">
            <svg aria-hidden="true" class="footer-list__icon footer-list__icon--invertible" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 46 42" width="16" height="16">
              <path fill="#000" d="M36.134 0.5H43.111L27.868 17.867L45.8 41.5H31.76L20.763 27.167L8.18 41.5H1.198L17.502 22.924L0.300003 0.5H14.697L24.637 13.601L36.134 0.5ZM33.685 37.337H37.551L12.596 4.444H8.447L33.685 37.337Z"/>
            </svg>
            <span class="visually-hidden">X</span>
          </a>
        </li>
      </ul>
      <ul class="footer__list footer-list font-theme font-theme--code base-list">
        <li class="footer-list__item">
          <a class="footer-list__link link" href="/subscribe/">Рассылка</a>
        </li>
        <li class="footer-list__item">
          {% include "blocks/github-widget.njk" %}
        </li>
      </ul>
      <ul class="footer__list footer-list font-theme font-theme--code base-list">
        <li class="footer-list__item">
          <a class="footer-list__link link" href="/about/">О проекте</a>
        </li>
        <li class="footer-list__item">
          <a class="footer-list__link link" href="https://dream-job.doka.guide">Спецпроекты</a>
        </li>
        <li class="footer-list__item">
          <a class="footer-list__link link" href="/people/">Участники</a>
        </li>
      </ul>
      <ul class="footer__list footer-list font-theme font-theme--code base-list">
        <li class="footer-list__item">
          <a class="footer-list__link link" href="/licenses/">Лицензии</a>
        </li>
        <li class="footer-list__item">
          <a class="footer-list__link link" href="https://github.com/doka-guide/content/tree/main/docs">Документация</a>
        </li>
      </ul>
    </div>
  </footer>
{% endmacro %}
