{% macro footer(class, tag = 'footer') %}
  <footer class="footer {{ class if class }}">
    <div class="footer__theme-toggle">
      <span class="footer__theme-toggle-label">Тема:</span>
      {% include "blocks/theme-toggle.njk" %}
    </div>
    <ul class="footer__list footer-list font-theme font-theme--code base-list">
      <li class="footer-list__item">
        <a class="footer-list__link link" href="{{ constants.dokaOrgLink }}">GitHub</a>
      </li>
      <li class="footer-list__item">
        <a class="footer-list__link link" href="/about/">О проекте</a>
      </li>
      <li class="footer-list__item">
        <a class="footer-list__link link" href="/licenses/">Лицензии</a>
      </li>
      <li class="footer-list__item">
        <a class="footer-list__link link" href="https://practicum.yandex.ru?utm_source=pr&utm_medium=content&utm_campaign=pr_content_main_doka">При поддержке Яндекс Практикума</a>
      </li>
    </ul>
  </footer>
{% endmacro %}
