<footer class="footer theme theme_font_beta">
  <div class="footer__toggle">
    {% include "blocks/theme-toggle.njk" %}
  </div>

  <ul class="base-list footer-nav-list footer__list">
    <li class="footer-nav-list__item">
      <a class="link footer-nav-list__link" href="{% dokaOrgLink %}">Github</a>
    </li>
    <li class="footer-nav-list__item">
      <a class="link footer-nav-list__link" href="/about">О проекте</a>
    </li>
    <li class="footer-nav-list__item">
      <a class="link footer-nav-list__link" href="#404">Лицензии</a>
    </li>
  </ul>
</footer>
