{% macro divider() %}
  <span class="header__divider font-theme font-theme--code" aria-hidden="true"></span>
{% endmacro %}

{% macro simpleLogo(children) %}
  <div class="header__logo">
    {{ children | safe  }}
  </div>
{% endmacro %}

{% macro linkLogo(children) %}
  <a class="header__logo link" href="/">
    {{ children | safe  }}
  </a>
{% endmacro %}

{% set logo %}
  {% include "blocks/logo.njk" %}
  {{ divider() }}
{% endset %}

{% set isMainPage = page.url === '/' %}
{% set isNotSearchPage = page.url !== '/search.html' %}

{% set logoWrapper = simpleLogo if isMainPage else linkLogo %}

<header class="header {% if isMainPage %}header--open{% endif %}">
  {{ logoWrapper(children=logo) }}

  {% include "blocks/search.njk" %}
  {% include "blocks/nav-list.njk" %}
  {% if isNotSearchPage %}{% include "blocks/search-hits.njk" %}{% endif %}
</header>
