{% macro logo(isLink, isContrastColor, class, letters, isImageHidden=false) %}
  {% set logoWrapper = linkLogo if isLink else simpleLogo %}
  {% set tag = 'a' if isLink else 'div' %}
  {% set attrs = 'href=/' if isLink %}
  {% set classes %}
    logo
    {{ 'logo--color-contrast' if isContrastColor else 'logo--color-fade' }}
    font-theme
    font-theme--code
    {{ class if class }}
  {% endset %}

  {% set defaultLetters %}
    U<span class="logo__eye">·</span>ᴥ<span class="logo__eye">·</span>U
  {% endset %}
  {% set letters = letters if letters else defaultLetters %}

  <{{tag}} class="{{ classes }}" {{ attrs }}>
    {% if (not isImageHidden) %}
      <div class="logo__image" aria-hidden="true">
        <div class="logo__symbols logo__symbols--main">
          {{ letters | safe }}
        </div>
        <div class="logo__symbols logo__symbols--search">
          UˇᴥˇU
        </div>
      </div>
    {% endif %}
    <div class="logo__text {{ 'link' if isLink else '' }}">Дока</div>
  </{{tag}}>
{% endmacro %}
