<ul class="header__menu nav-list base-list">
  {% for sectionIndex in articleIndexes %}
    <li class="nav-list__item" style="--accent-color: var(--color-base-{{ sectionIndex.fileSlug }})">
      <a class="nav-list__link" href="/{{ sectionIndex.fileSlug }}/">
        <span class="nav-list__link-text">
          {{ sectionIndex.data.name }}
        </span>
      </a>
    </li>
  {% endfor %}
</ul>
