{% macro personBadges(badges) %}
  <div class="person-badges {{ class if class }}">
    {% for badge in badges %}
      <div class="person-badges__sign person-badges__sign--col-{{ badge.field.width }} person-badges__sign--row-{{ badge.field.height }}">
        <div class="person-badges__shape person-badges__shape--{{ badge.shape }} person-badges__shape--angle-{{ badge.angle }}">
          <img class="person-badges__default-image" src="{{ badge.src }}" alt="{{ badge.alt }}">
        </div>
        <div class="person-badges__pop-up">
          <figure class="person-badges__pop-up-figure">
            <img  class="person-badges__pop-up-image" src="{{ badge.src }}" alt="{{ badge.alt }}">
            <figcaption>
              <h3 class="person-badges__pop-up-header font-theme font-theme--text">{{ badge.title }}</h3>
              <p class="person-badges__pop-up-description font-theme font-theme--code">{{ badge.description }}</p>
            </figcaption>
          </figure>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
