{% from "blocks/person-avatar.njk" import personAvatar %}

{% macro person(data) %}
  <div class="person">
    {{ personAvatar(
      class = 'person__avatar',
      photoURL = data.photoURL,
      name = data.name,
      category = data.mostContributedCategory
    ) }}

    <div class="person__main">
      <div class="person__name"><a class="person__link link" href="{{ data.pageLink }}">{{- data.name -}}</a></div>

      <span class="person__stat">
        {% if data.totalArticles > 0 %}
          {{ data.totalArticles }}
          {{ data.totalArticles | declension('статья', 'статьи', 'статей') }}
        {% elif data.totalPractices > 0 %}
          {{ data.totalPractices }}
          {{ data.totalPractices | declension('совет', 'совета', 'советов') }}
        {% elif data.totalAnswers > 0 %}
          {{ data.totalAnswers }}
          {{ data.totalAnswers | declension('ответ', 'ответа', 'ответов') }}
        {% endif %}
      </span>

      <span class="person__indicators">
        {% if data.stat | length %}
          {% for category, count in data.stat %}
            <span class="person__indicator" style="--accent-color: var(--color-{{ category }})" data-count="{{ count }}"></span>
          {% endfor %}
        {% elif data.practices | length %}
          {% for category, count in data.practices %}
            <span class="person__indicator" style="--accent-color: var(--color-{{ category }})" data-count="{{ count }}"></span>
          {% endfor %}
        {% elif data.answers | length %}
          {% for category, count in data.answers %}
            <span class="person__indicator" style="--accent-color: var(--color-{{ category }})" data-count="{{ count }}"></span>
          {% endfor %}
        {% endif %}
      </span>
    </div>
  </div>
{% endmacro %}
