{% macro person(data) %}
  {% if (data.mostContributedCategory) %}
    {% set inlineStyles %}
      --accent-color: var(--color-{{ data.mostContributedCategory }})
    {% endset %}
  {% endif %}

  <div
    class="person"
    {% if inlineStyles %}style="{{ inlineStyles }}"{% endif %}
  >
    {% if data.photoURL %}
      <img class="person__avatar" src="{{ data.photoURL }}" alt="Изображение автора '{{ data.name }}'">
    {% else %}
      <div class="person__avatar person__avatar--placeholder font-theme font-theme--code" aria-hidden="true">ᴥ</div>
    {% endif %}

    <div class="person__main">
      <div class="person__name">
        <a class="person__link link" href="{{ data.pageLink }}">
          {{- data.name -}}
        </a>
      </div>

      <span class="person__stat">
        {{ data.totalArticles }}
        {{ data.totalArticles | declension('статья', 'статьи', 'статей') }}
      </span>

      <span class="person__indicators">
        {% for category, count in data.stat %}
          <span class="person__indicator" style="--accent-color: var(--color-{{ category }})" data-count="{{ count }}"></span>
        {% endfor %}
      </span>
    </div>
  </div>
{% endmacro %}
