{% macro promoDreamJob(color) %}
<div class="intro__pitch promo" style="border: 3px solid hsl({{ color }})">
  <h2 class="intro__moto font-theme--code">Трудоустройство</h2>
  <p class="intro__description">Опубликовали новую главу в нашем монументальном спецпроекте «Трудоустройство». В этот раз рассказываем подробно про собеседование.</p>
  <div class="intro__footer">
    <div class="intro__link">
      🗣️
      <a class="link" href="https://dream-job.doka.guide/dream-job/interview/">Как проходить собеседования?</a>
    </div>
  </div>
</div>
{% endmacro %}
