<form class="header__search search font-theme font-theme--code" method="get" name="search-form" action="/search/" id="search-form">
  <div class="search__control">
    <input class="search__input" type="text" name="query" placeholder="Поиск" autocomplete="off">

    <kbd class="hotkey search__key search__key--activate">/</kbd>
    <kbd class="hotkey search__key search__key--enter">↲</kbd>
  </div>

  <div class="search__suggestion search__suggestion--hide">
    <div class="search__suggestion-content font-theme font-theme--text">
      <ul class="suggestion-list base-list"></ul>
    </div>

    <a class="search__full-link link font-theme font-theme--text" href="/search/">
      Расширенный поиск
    </a>
  </div>

</form>
