<form class="header__search search font-theme font-theme--code" method="get" name="search-form" action="/search/" id="search-form">
  <input class="search__input" type="text" name="q" placeholder="Поиск">
  {# <div class="search__controls">
    <div class="search__button hotkey" type="button" value="up">↑</div>
    <div class="search__button hotkey" type="button" value="down">↓</div>
  </div> #}
</form>
