<fieldset class="search-category">
  <legend class="visually-hidden" aria-hidden="true">Фильтровать по:</legend>
  <div class="search-category__legend">Фильтровать по:</div>

  {% for category in collections.articleIndexes %}
    <label class="search-category__item tag-filter" style="--accent-color: var(--color-{{ category.fileSlug }})">
      <input class="tag-filter__control" type="checkbox" name="category" value="{{ category.fileSlug }}" form="search-form">
      <span class="tag-filter__text">
        {{ category.data.name }}
      </span>
    </label>
  {% endfor %}
</fieldset>
