<fieldset class="search-tag">
  <legend class="visually-hidden">Показывать:</legend>
  <div class="search-tag__legend" aria-hidden="true">Показывать:</div>

  <div class="search-tag__switch switch">
    <label class="switch__item">
      <input class="switch__input" type="radio" name="tag" value="" form="search-form" checked>
      <span class="switch__label">Все</span>
    </label>
    <label class="switch__item">
      <input class="switch__input" type="radio" name="tag" value="article" form="search-form">
      <span class="switch__label">Статьи</span>
    </label>
    <label class="switch__item">
      <input class="switch__input" type="radio" name="tag" value="doka" form="search-form">
      <span class="switch__label">Справочник</span>
    </label>
  </div>
</fieldset>
