<div class="theme-toggle snow-toggle">
  <label class="theme-toggle__item">
    <input class="theme-toggle__control snow-toggle__control" type="radio" name="snow" value="snowfall" checked>
    <span class="theme-toggle__text">Снег</span>
  </label>
  <label class="theme-toggle__item">
    <input class="theme-toggle__control snow-toggle__control" type="radio" name="snow" value="none">
    <span class="theme-toggle__text">Без осадков</span>
  </label>
</div>
