<div class="snow">
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
  <div class="snow__flake">﹡</div>
</div>
