<div class="snow">
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
  <div class="snowflake">﹡</div>
</div>
