{% macro socialCard(category, categoryName, link, title, description, templateContent) %}
<div class="social-card" style="--accent-color: var(--color-{{ category }});">
  <header class="header social-card__header">
    <div class="header__inner header__inner--main font-theme font-theme--code social-card__header-inner">
      <ul class="header__breadcrumbs breadcrumbs base-list">
        <li class="breadcrumbs__item">
          {% from "blocks/logo.njk" import logo %}
          {{ logo(isLink=true, isContrastColor=isLogoContrastColor) }}
          {% from "blocks/header.njk" import divider %}
          {{ divider() }}
        </li>

        {% if category %}
          <li class="breadcrumbs__item header__category">
            <a class="breadcrumbs__text link" href="/{{ category }}/">{{ categoryName }}</a>
            {{ divider() }}
          </li>
        {% endif %}

        {% if title %}
          <li class="breadcrumbs__item breadcrumbs__item--shrink header__title" title="{{ title }}">
            <a class="breadcrumbs__text link" href="{{ link }}">
              {{ title | descriptionMarkdown | safe }}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </header>

  <main class="social-card__main">
    <div class="social-card__main-inner doc__wrapper">

      <p class="social-card__category">
        <a class="social-card__category-link link font-theme font-theme--code" href="/{{ category }}/">
          {{ categoryName }}
        </a>
        <span class="social-card__category-divider" aria-hidden="true">/</span>
      </p>

      <h1 class="social-card__title">
        {{ title | descriptionMarkdown | safe }}
      </h1>

      {% if description %}
        <p class="social-card__description">{{ description }}</p>
      {% endif %}

      <p class="social-card__read-time">
        Время чтения: {% readingTime templateContent %}
      </p>
    </div>
  </main>
</div>
{% endmacro %}
