{% macro socialCard(category, categoryName, docPath, cover) %}
<div class="social-card">
  <section class="social-card__slogan">
    <section class="social-card__slogan-wrapper">
      <div class="social-card__title">Дока</div>
      {% if category == "recipes" %}
        <div class="social-card__moto">гид по рецептам<br>веб-разработки</div>
      {% elif category == "tools" %}
        <div class="social-card__moto">гид по инструментам</div>
      {% else %}
        <div class="social-card__moto">твой гид по {{ categoryName }}</div>
      {% endif %}
    </section>
  </section>

  <section class="social-card__cover" style="--accent-color: var(--color-{{ category }});">
    <div class="social-card__cover-wrapper">
      {% if cover %}
        <img class="social-card__image" src="{{ docPath + cover.mobile }}" alt="{{ cover.alt }}">
      {% else %}
        <div class="social-card__placeholder" aria-hidden="true">
          <div class="social-card__logo">
            U<span class="social-card__face">·ᴥ·</span>U
          </div>
        </div>
      {% endif %}
    </div>
  </section>

  <section class="social-card__site">
    <p class="social-card__base-url">doka.guide</p>
  </section>
</div>
{% endmacro %}
