<div class="theme-toggle">
  <label class="theme-toggle__item">
    <input class="theme-toggle__control" type="radio" name="color-theme" value="light">
    <span class="theme-toggle__text">Светлая</span>
  </label>
  <label class="theme-toggle__item">
    <input class="theme-toggle__control" type="radio" name="color-theme" value="auto" checked>
    <span class="theme-toggle__text">Авто</span>
  </label>
  <label class="theme-toggle__item">
    <input class="theme-toggle__control" type="radio" name="color-theme" value="dark">
    <span class="theme-toggle__text">Тёмная</span>
  </label>
</div>
