<div class="theme-toggle">
  <button class="theme-toggle__item" type="button" name="color-theme" value="light">Светлая</button>
  <button class="theme-toggle__item theme-toggle__item--is-active" type="button" name="color-theme" value="auto">Авто</button>
  <button class="theme-toggle__item" type="button" name="color-theme" value="dark">Тёмная</button>
</div>
