---
layout: aside-page.njk
contentRep: "https://github.com/Y-Doka/content/blob/master"
---

<article>
  <h1>{{ title }}</h1>
  <a href="{{ contentRep }}{{ page.url }}" target="_blank">
    Отредактировать на GitHub
  </a>

  {{ content | safe }}

</article>
