<!DOCTYPE html>
<html class="base" lang="{{ meta.lang }}">
  <head>

    {% include "meta.njk" %}

  </head>
  <body class="base__body aside-page">

    {% include "blocks/aside.njk" %}

    <main>
      <div class="aside-page__content base__container">

        <h1>{{ title }}</h1>

        {{ content | safe }}

      </div>
    </main>

    {% include "blocks/footer.njk" %}

  </body>
  <script type="module" src="/scripts/index.js"></script>
</html>
