---
layout: 'base.njk'
bodyClass: 'aside-page'
---

<main>
  <div class="aside-page__content base__container">

    <h1>{{ title }}</h1>

    {{ content | safe }}

  </div>
</main>

{% include "blocks/footer.njk" %}
