<!DOCTYPE html>
<html class="base font-theme" lang="{{ meta.lang }}" itemscope itemtype="https://schema.org/{{ pageType }}">
  <head>

    {% include "meta.njk" %}

  </head>
  <body class="base__body {{ bodyClass }}">

    {% if env.isProdEnv %}
      {% include "analytics/metrika.njk" %}
    {% endif %}

    {{ content | safe }}

    <script type="module" src="/scripts/index.js"></script>
  </body>
</html>
