<!DOCTYPE html>
<html class="theme theme_font_text theme_color_light base" lang="{{ meta.lang }}">
  <head>

    {% include "meta.njk" %}

  </head>
  <body class="base__body {{ bodyClass }}">

    {{ content | safe }}

    <script type="module" src="/scripts/index.js"></script>
  </body>
</html>
