<!DOCTYPE html>
<html class="base" lang="{{ meta.lang }}">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ meta.title }}</title>
    <link rel="stylesheet" href="styles/index.css">

  </head>
  <body class="base__body {% if templateClass %}{{ templateClass }}{% endif %}">

    {{ content | safe }}

  </body>
  <script type="module" src="scripts/index.js"></script>
</html>
