---
layout: base.njk
---

<header class="header">
  <a href="/">
    {% include "ui/logo.njk" %}
  </a>
</header>

<main>
  <h1>{{ title }}</h1>

  {{ content | safe }}
</main>

{% include "footer.njk" %}
