---
layout: 'base.njk'
---

{% include "blocks/header.njk" %}

<main>
  <div class="base__container">

    <h1>{{ title }}</h1>

    {{ content | safe }}

  </div>
</main>

{% include "blocks/footer.njk" %}
